[2021-11-08 16:40] ChhatralaNirmal opened #901 "custom image on login screen"
Is there any option to change custom image on login page and after the login ?

[2021-11-08 16:42] tchiotludo commented on #901
replacing the logo you mean ?

[2021-11-08 17:40] ChhatralaNirmal commented on #901
Yes

On Mon, Nov 8, 2021, 10:13 PM Ludovic DEHON ***@***.***>
wrote:

[2021-11-08 17:40] tchiotludo commented on #901
Nope for now, PR are welcome

[2021-11-08 17:42] ChhatralaNirmal commented on #901
We would like to replace akhq.io logo with our custom logo

On Mon, Nov 8, 2021, 11:10 PM Nirmal Chhatrala ***@***.***>
wrote:

[2021-11-09 14:07] clain23 commented on #635
We are still experiencing this issue on 0.18.

[2021-11-10 08:19] pimpelsang opened #903 "Could you show message headers also in single message view?"
Hi,

We are using message headers more and debugging would be much easier if we could see message headers in data as well. Only in single message view is enough.  Have you considered add support for it?

Thanks

[2021-11-10 08:21] tchiotludo commented on #903
Hi,
Not really sure to understand your need here ?
Maybe you can provide a mockup of the display you want ?

[2021-11-10 09:15] thibthibus opened #904 "AKHQ configuration parameters not taken into account"
Hi, I added the following parameters in my application.yaml in AKHQ 0.19.0 but they are not taken into account. Any idea ?
            **skip-consumer-groups: false
            skip-last-record: false
          topic-data:
            sort: NEWEST
          ui-options:
            topic:
              skip-consumer-groups: true
              skip-last-record: true
            topic-data:

[2021-11-10 09:22] tchiotludo commented on #904
Is this settings working on previous version or it's a first try ?

[2021-11-10 09:56] pimpelsang commented on #903
Actually it is there. Just need to double click headers number opens it up. Somehow had missed it and tried only regular click there.

[2021-11-10 09:56] #903 closed

[2021-11-10 09:57] thibthibus commented on #904
Hi @tchiotludo ,

Thanks for your quick reply. It's a first try. but I think I understood the issue: The previously default values are stored somehow in the web browser cache... If I opened AKHQ in an Incognito Window the newly set default parameters are taken into account.

I have however one other question related to these parameters. One can see in https://github.com/tchiotludo/akhq/blob/dev/ap

[2021-11-10 10:01] tchiotludo commented on #904
Yes this option can be setup :
- globally : https://github.com/tchiotludo/akhq/blob/dev/application.example.yml#L168
- per cluster : https://github.com/tchiotludo/akhq/blob/dev/application.example.yml#L100
- in the settings on the ui part

Clearly the doc can be improved, now we have a doc generator, if you want add a page [here](https://github.com/tchiotludo/akhq/tree/dev/docs/docs/configuration)

[2021-11-11 09:00] asatsi commented on #846
@RoachMJ have you been able to upgrade to 3.0.2? I am facing the same issue as the CVEs you mentioned above. Is there a way I can make local changes and do a gradle build?

[2021-11-12 16:27] Thiago-Dantas opened #906 "Add defaultToGlobal=true querystring to schema registry query"
Currently we cannot use the Schema Registry portion of AKHQ because our topics rely on the global compatibility level

Without the [defaultToGlobal querystring](https://docs.confluent.io/platform/current/schema-registry/develop/using.html#show-compatibility-requirements-in-effect-for-a-subject) we get the error `Subject 'schema-name' does not have subject-level compatibility configured; error code

[2021-11-12 17:31] tchiotludo commented on #906
Which version of AKHQ ?

[2021-11-12 18:25] Thiago-Dantas commented on #906
I'm using the current docker image at tchiotludo/akhq:latest

[2021-11-14 02:08] shnplr opened #907 "Need to Login twice"
Hi Testing Helm deploy with basic auth

After clicking "Logout" get displayed login page (good). But when logging in again (same or different user) the application show briefly and then goes back to the login screen.  Login 2nd time it is OK.  Why would need to logon twice after logging out?

[code]

[2021-11-14 02:14] shnplr commented on #907
Also, when login page is shown unexpectedly after first login, the dialog not centered (shows toward the right) - its like nav space is used even though the nav is not visible.  Login page is centered correctly when click logout.

[2021-11-15 13:46] LukasPr opened #908 "Listing Consumer Groups doesn't work with DESCRIBE right on cluster level"
On both versions of AKHQ 0.17 and 0.19 we were not able to list the consumer groups in the overview with the following rights:

`ALLOW | DESCRIBE_CONFIGS  | CLUSTER | kafka-cluster  | LITERAL`
`ALLOW | DESCRIBE  | CLUSTER  | kafka-cluster  | LITERAL`
`ALLOW | IDEMPOTENT_WRITE | CLUSTER | kafka-cluster  | LITERAL`

`ALLOW      | READ           | GROUP            | xxxx     | PREFIXED`
`ALLOW   | DE

[2021-11-16 11:56] jheinitz commented on #901
Good idea. Maybe not simply replacing the existing logo, but add a second logo for branding. Thx! Jens

[2021-11-16 12:05] bmcentos opened #909 "failed to update offset by webUi"
Problem:

When i try to update offset from a producer group i had the below error:

[code]

In Kafka logs i have no errors when submit update from WebUi.

As error mensage, i tried to find specific config in Kafka documentation in Broker side and akwq side, but not found (max.poll.interval.ms  and max.poll.records).

[2021-11-16 12:24] tchiotludo commented on #909
You need to stop the consumer group in order to update group offsets.
The error is telling that this group is connected on the cluster and prevent all updates from external sources

[2021-11-16 12:24] #909 closed

[2021-11-17 06:32] tchiotludo commented on #908
Not really sure to understand.
You don't grant a full read access on service account for consumer group, only some of them with a prefix.
When you remove the describe cluster ACL,  the consumer group page can be displayed without any error but was empty.
I'm right ?

[2021-11-17 10:51] Xan2063 commented on #908
_You don't grant a full read access on service account for consumer group, only some of them with a prefix._
Yes
When we remove the describe cluster ACL we are able to display the topics page again. On listing the topics it seems that it tries to describe all consumer groups for the topics and that fails, so nothing is displayed at all.

[2021-11-17 11:38] anderssynstad opened #911 "Difficult to read large lag numbers"
Due to the font, formatting and size on consumer group lag, it makes it hard to read and compare large numbers.
Suggest adding a thousands separator to increase readability.

[2021-11-17 11:45] tchiotludo commented on #911
PR are welcome :+1:

[2021-11-18 12:32] twobeeb commented on #906
I never observed this behavior yet we rely heavily on global compatibility level.
Do you see this issue in 0.18 ? Could you share detailled errors logs or screenshots where you have this issue ?

[2021-11-18 12:37] twobeeb commented on #900
Hello,
The gitlab doc also specifies the following:

[2021-11-18 12:58] tchiotludo commented on #900
It's not possible as I know.
To do this, you need to implement a custom [User Mapper](https://micronaut-projects.github.io/micronaut-security/latest/guide/#oauth2-user-details) for each provider.
I don't think we are going to support this due to huge amount of work for each one.

[2021-11-18 14:09] Thiago-Dantas commented on #906
![image](https://user-images.githubusercontent.com/6326626/142430360-2ca2a661-59f7-443c-984c-6a76cc735da4.png)

[code]

We are using the latest AKHQ docker image and also the latest schema registry image at `confluentinc/cp-schema-registry:latest`

[2021-11-18 14:17] twobeeb commented on #906
Interesting, should be fixed : #763

Maybe your "latest" is older than the fix ?

[2021-11-18 14:25] Thiago-Dantas commented on #906
Depends if its been pushed to docker hub, I just built my image.
My Dockerfile is simply switching to USER root to use port 80

[2021-11-18 14:27] tchiotludo commented on #906
Just see the issue :)
I forgot to push to latest.
Just done right now : https://hub.docker.com/layers/tchiotludo/akhq/latest/images/sha256-184773dd936de7fc1b6b26be53d1ffd53703ee77feae5fc09b3efccf2da4ccd2?context=explore

[2021-11-18 14:30] #906 closed

[2021-11-18 21:14] dinegri commented on #906
After changing from  Schema Registry version 5.3.0 to version to 6.1.2 we got those errors as well

Thanks for the fix :)

[2021-11-19 04:34] tooptoop4 commented on #810
already works.

application.yml:
[code]

[code]

[2021-11-19 06:01] tchiotludo commented on #810
Reopening for docs and maybe to include the jar on main package 🤔

[2021-11-19 10:40] ChhatralaNirmal opened #912 "Empty Topic button on Topic screen when clicked doesn't return to topic screen or success message, instead shows blank screen"
When I click "Empty Topic" button to Topic screen , it doesn't show any message or return me back to topic screen, rather it displays the blank screen. I need to reload the url to get the topic screen.

[2021-11-19 13:31] ebrard opened #913 "Static content is retrieved under the security scheme"
It seems that all HTTP calls to akhq are protected by the security implementation chosen at configuration time. This means that if the `RestApiClaimProvider` is being used along side the header authentification for example, each call to a static asset will trigger a call to the configured endpoint. For a large number of users and even if static assets seem to be cached by the browser this leads to

[2021-11-19 13:36] ebrard opened #914 "Read timeout by micronaut client on configured enpoint"
I have configured the auth authentification along side with the call to a rest endpoint for permissions. Regularly the micronaut http clients runs into a time out as such:

[code]

which seems to mean that the rest client takes more than 10 sec to answer. On the rest server side we have Datadog APM configured and we see that all calls are being processed in a few ms, which makes me wonder if the i

[2021-11-19 13:54] ebrard commented on #914
I increased the micronaut client read time to 5 mins and still I see read timeout while hitting the rest service endpoint from another browser tab which seems to indicate that the rest server implemented and take extra calls.

[2021-11-22 10:19] clain23 commented on #635
I can repro on 0.19.0 too :(

[2021-11-23 15:22] pmichna opened #917 "Disable colors in logs"
It would be convenient to disable colors in logs. When storing logs in log management tools we can see unnecessary additional characters with color encoding instead of colors like:
[code]

[2021-11-23 15:33] anilsahin opened #918 "Serialise Java 8 java.time.ZonedDateTime with com.fasterxml.jackson.datatype:jackson-datatype-jsr310"
As part of upgrading akhq from version 0.14.1 to version 0.19.0, serialisation to https://github.com/tchiotludo/akhq/blob/0.19.0/src/main/java/org/akhq/models/Record.java#L40 which appears to be of Java 8 type java.time.ZonedDateTime fails with the following trace that is also displayed on the UI.

[code]

Simply passing the jar for jackson-datatype-jsr310 to our docker image and setting the `CLAS

[2021-11-23 16:11] tchiotludo commented on #918
Humm strange :thinking:

Look [here](https://github.com/tchiotludo/akhq/blob/bc0cfb75d44b7cf792aa2840f701fac276a277f9/src/main/java/org/akhq/modules/AvroSerializer.java#L35): The module is already included here.

also :
[code]
The lib is included as transitive deps...

Are you using the official docker version ?

[2021-11-23 16:36] txs4444 opened #920 "Add support for JSON Schema while producing a message"
**Current behavior:**

When producing message to topic and as a schema JSON Schema is chosen then exception is thrown because AvroSerializer is used regardless of schema type.

[code]

**Proposed solution:**
https://github.com/tchiotludo/akhq/pull/919

[2021-11-23 17:22] anilsahin commented on #918
Alright yes does look like it is indeed already included.

For the docker image yes I believe so we are using `tchiotludo/akhq:0.19.0` as base image.

[2021-11-23 19:09] tchiotludo commented on #918
Just notice that the error is coming from webserver, can you share your configuration files please ?

[2021-11-24 09:08] anilsahin commented on #918
here is the configuration we have for jackson:
[code]

[2021-11-24 09:09] tchiotludo commented on #918
Ok remove all the jackson configuration and it will work

[2021-11-24 09:18] anilsahin commented on #918
Thanks you! Yes I can confirm that it works after removing the jackson configuration

[2021-11-24 09:21] #918 closed

[2021-11-24 09:33] thedje opened #921 "Unable to start Micronaut server on port: 8080"
Hi,

I wanted to change version of akhq (from 0.16.0 to 0.19.0) and I have the following error:
[code]
At the level of my docker-compose, I only changed the version:
[code]

At the micronaut conf level, I put :
[code]
Did I forget something?

[2021-11-24 09:34] #921 closed

[2021-11-24 10:09] maver1ck opened #923 "AKHQ is not showing some records"
Hi,
I have Kafka topic where some records are from the future (records timestamp > now).
AKHQ is not showing those records. Do you have any clue why ?

Kafkacat - offsets and timestamp
[code]

AKHQ - two records are missing

![image](https://user-images.githubusercontent.com/4006010/143218158-a08d4890-1315-4e69-8df1-062e1ea30e0b.png)

[2021-11-24 19:05] evaisman-tc opened #926 "Losing sort preference when searching"
Hi,

Forgive me if this has been filed before, but a few of my teamates have run into a scenario where their sorting preferences are being overwritten when using search functionality (forces sorting by oldest).

To reproduce, simply sort your data by "NEWEST"
![image](https://user-images.githubusercontent.com/73849911/143298623-19de1469-618d-4ede-b10a-a15b60a96d66.png)

Then provide a search param

[2021-11-24 19:57] tchiotludo commented on #926
It's a intended behaviour with bad UX :smile:
The search, by design and due to limitation of Kafka, MUST BE in oldest sort.
There is no way to handle it as explain here : https://github.com/tchiotludo/akhq/issues/609

[2021-11-24 19:57] #926 closed

[2021-11-24 19:57] #609 closed

[2021-11-24 20:37] angeloxx opened #927 "Extend the external role support"
In order to support complex scenario where for each LDAP group the user obtain rights to write or read a topic I'm trying to use the external role support, receiving the list user's LDAP group, to authorise the user with the right role for each topic.

Current external role support (seems to) support only a single role attribution, but I need something like:

[code]

Is it possible to extend the e

[2021-11-24 20:45] tchiotludo commented on #927
@twobeeb ? :smile:

[2021-11-24 22:24] twobeeb commented on #927
**Short answer** : It's not possible with current security model.

**Long answer** :
The current security model allows for a single list of roles and 3 filters that applies to the whole AKHQ instance for a given authenticated user.
The roles are applies to the pages:
- ``topic/read`` lets you access topic API, for all Kafka clusters [See code](https://github.com/tchiotludo/akhq/blob/dev/src/main/j

[2021-11-25 07:50] gerardgorrion opened #928 "AKHQ service down after some time running"
Hi all,

Our current akhq (helm version chart 0.1.3 and akhq 0.17.0) is deployed into kubernetes in AWS (EKS).  All i working fine, connect with kafka, ldap connections are working, etc etc. But some times, after a lot of days (sometimes 100+ days, sometimes only 20), connections via web fail and we need to kill pod manually.

There are some way to check if the akhq pod was toast and/or some way t

[2021-11-25 08:10] #928 closed

[2021-11-25 13:40] PDVJAM opened #930 "helm akhq: liveness probe failed"
Hey!
We use an official helm chart, deployed per documentation, nothing unusual, nothing changed.
But we always see liveness probe errors:

[code]

  pod log:

[code]

What might be wrong with the probe? Tried on several k8s clusters, it's always the same. Except for disabling this probe - what can we do?

[2021-11-25 13:48] #930 closed

[2021-11-25 15:28] evaisman-tc commented on #926
Gotcha, thanks.

[2021-11-25 15:56] gquintana opened #932 "Navigation bar truncated on small screens"
When AKHQ is displayed on a small screen (13' laptop with toolbar on browser), the navigation bar on the left is truncated, and it's not possible to scroll down. As a result, buttons at the bottom remain hidden.

Moreover, when this nav bar is folded, the version number is hidden and yet consumes space in height.

Finally the bottom of the menu bar, is also hidden by the footer pane containing act

[2021-11-29 18:13] twobeeb commented on #825
@wilkej Check this ? #933

[2021-11-30 15:05] gquintana opened #935 "topic-data.sort setting appears twice"
In https://akhq.io/docs/configuration/akhq.html#pagination
There are 2 settings which look very close:
-  akhq.topic-data.sort
-  akhq.ui-options.topic-data.sort

Are there both in use?
- Yes -> Explain the difference in the doc
- No -> Remove one of them

[2021-11-30 15:07] #935 closed, assigned to nobody

[2021-11-30 15:19] gquintana commented on #935
@tchiotludo You're too fast for me. Thanks for clarifying

The setting removed in  251e0b1 is also present here:
https://github.com/tchiotludo/akhq/blob/4140b333e121e8a4480ea9e9782801a1105e265c/src/main/resources/application.yml#L126

Digging through the code I also noticed a typo here `Setttings` with 3 Ts:
https://github.com/tchiotludo/akhq/blob/21a8574ba8367cc9c6c4ead20dee998e82466c4e/client/sr

[2021-11-30 15:30] tchiotludo commented on #935
also fix, thanks for the report

[2021-11-30 19:57] nightswimmings opened #936 "Disabling all auth methods except basic-auth on akhq 0.19 does not seem to be honoured"
I am trying to configure akhq so it only accepts basic-auth, and so far I assumed the proper way to do it is providing the following configuration on the helm chart

[code]
+ akhq.security.basic-auth (...)

but It is apparently not honouring the setup. The login page shows up in the UI, and the warning message about the default secret is at startup even though i just disabled both token and jwt se

[2021-11-30 20:48] #936 closed

[2021-12-01 12:55] wilkej commented on #825
Thank you. I'll try this in this week.

[2021-12-02 14:04] wilkej commented on #825
Hello @twobeeb ,

I was able to test it with your feature branch and it looks good.

As a side note I saw that the regex filter object name changed. In the 0.16 version we have a field called topics-filter-regexp and now it is called topicsFilterRegexp.
After changing it it works. Did this changes with your changes in 0.17?

I would be happy if your changes will be available in an other release.

[2021-12-02 14:23] twobeeb commented on #825
@wilkej
I'm not sure. I made a change last year to add connect filter and it was still using kebab-case : https://github.com/tchiotludo/akhq/pull/477/files#diff-3b2f1e772c4c6487ff3cb9cf2a75ee2d0f5a28e0685e7d715e9897ee9507477cR259

This MR changes it to camelCase : https://github.com/tchiotludo/akhq/pull/578

Anyway, if you're fine with changing the claim on your side to camelCase, I will add on mo

[2021-12-02 14:47] twobeeb commented on #932
Hello @tchiotludo,

I have a related issue.
I'm using AKHQ to administer multiple clusters.
We recently reached 35+ clusters and ... even with 50% zoom .... let's just take a screenshot:
![image](https://user-images.githubusercontent.com/6431261/144444290-14126049-1fd7-4273-8603-7d3a89a27fd8.png)

I would really appreciate a way to scroll in both views, the hover list when nav bar folded, and the

[2021-12-02 15:20] BernhardBerbuir opened #938 "Allow to toggle "time ago" and timestamp"
After adding [feat(ui): display time ago on every datetime](https://github.com/tchiotludo/akhq/commit/d7343161362459d7fc196d5dbceda93ca0ef9daa) all timestamps are only available as mouse over labels. Therefore, it is no longer possible to copy a timestamp from the ui.

It would be great if this behaviour would be configurable: either the timestamp is displayed and a time ago label or vice versa.

[2021-12-02 15:23] tchiotludo commented on #938
I see 2 way to handle this :
- an option
- better a boostrap tooltip that will allow to copy paste the date :
![image](https://user-images.githubusercontent.com/2064609/144450987-a0986fc1-cb3d-4efc-a1b1-cf1f0b8d4b24.png)

PR are welcome :wink:

[2021-12-03 09:50] wilkej commented on #825
@twobeeb I'm fine changing to camelCase, thank you :)

[2021-12-03 10:52] twobeeb commented on #825
Micronaut framework does the magic : https://docs.micronaut.io/latest/guide/#immutableConfig

Configuration injection resolves kebab-case from yaml configuration files into their java camel case equivalent variables if you have a dedicated class for it.
Which there is : https://github.com/tchiotludo/akhq/blob/dev/src/main/java/org/akhq/configs/SecurityProperties.java
Big subject. There's a lot mor

[2021-12-04 20:33] #825 closed

[2021-12-04 20:35] #821 closed

[2021-12-06 11:08] nightswimmings opened #939 "Basic-Auth passwords do not support colon char"
I tested basic-auth on akhq and passwords that do contain ':' are not working, I presume that is because the .split() in order to tell apart the user and the pass from the encoded base64 Authorization: Basic value

[2021-12-06 19:39] txs4444 commented on #920
The proposed solution was merged - closing the issue.

[2021-12-06 19:39] #920 closed

[2021-12-08 06:16] jmcp opened #942 "ui option sort by newest does not work"
I had a request from my userbase to make the default topic message sort option "sort by newest". I found the entry in the docs for `akhq.ui-options.topic-data.sort` and set that to `NEWEST` and applied the configuration - there was no difference in the behaviour.

I thought that making this change to RecordRepository.java would solve the problem, but it does not:

[code]

[2021-12-09 00:04] mfouze commented on #325
Hello,
I have the same problem
Does someone find a solution or have any idea about ?

[2021-12-09 11:08] ddellarocca opened #943 "Error on node lost from cluster"
Hi,
I'm facing the following issue, in a cluster with 3 kafka nodes on 3 different server each one with its own zookeeper, if a node is detached from the cluster i get the following error while listing topics:

[code]

If the node is then reattached to the cluster the error is solved, in my case the topics are replicated in at least two nodes so if i detach a node from the cluster i expect to keep

[2021-12-10 10:11] wilkej commented on #852
@ankurjains how did you resolve the issue? On some topics I can read data and on other not.

[2021-12-10 11:38] tchiotludo commented on #943
Really old one issue and complicated, see :
- https://github.com/tchiotludo/akhq/issues/137

[2021-12-10 11:38] #943 closed

[2021-12-10 15:55] blatyo opened #944 "Zero day vulnerability for older versions of Log4J"
https://www.lunasec.io/docs/blog/log4j-zero-day/

~~Temporary workaround seems to be to add `-Dlog4j2.formatMsgNoLookups=true` to the jvm.opts file, since akhq seems to use log4j 1.8.x.~~ That's for 1.10.x

[2021-12-10 18:46] blatyo commented on #944
I'm not very familiar with gradle. Is this not pulling in log4j? https://github.com/tchiotludo/akhq/blob/dev/build.gradle#L95

[2021-12-10 18:49] blatyo commented on #944
Nevermind, I misinterpreted the name of that dependency.

[2021-12-10 18:49] #944 closed

[2021-12-12 12:37] twobeeb commented on #939
You are absolutely correct.
This is a behavior in Micronaut framework.
https://github.com/micronaut-projects/micronaut-security/blob/master/security/src/main/java/io/micronaut/security/authentication/BasicAuthUtils.java#L47-L69

You could raise an issue on https://github.com/micronaut-projects/micronaut-security
It won't be fixed on AKHQ side.

[2021-12-12 13:03] tchiotludo commented on #939
Seems that is valid to have a `:` on password, not on user
https://dev.to/ethanarrowood/what-characters-should-be-allowed-in-http-basic-authentication-userid-and-password-48f0

[2021-12-12 19:56] gquintana commented on #846
I am particularly interested in this change https://github.com/micronaut-projects/micronaut-security/issues/720 which is available in micronaut-security 3.0.0-RC1

[2021-12-13 06:43] dogac00 opened #946 "Update for log4j Vulnerability?"
Hello,

Do you require an update for _CVE-2021-44228 - Zero Day Vulnerability in Apache Log4j_?

Thank you.

[2021-12-13 06:56] tchiotludo commented on #946
I don't think so : https://github.com/tchiotludo/akhq/issues/944

[2021-12-13 06:56] #946 closed

[2021-12-13 08:07] #846 closed

[2021-12-13 08:10] tchiotludo commented on #846
@timtebeek @gquintana @asatsi @RoachMJ @twobeeb

The upgrade to micronaut 3.2 is done on `dev` branch from this https://github.com/tchiotludo/akhq/commit/bf8c68eaba4bdba8bf865950e476eddb42f7a906.

I will appreciate some test since there is a lots of changes, especially on the auth side that was breaking compatibility on micronaut 3.

I planned to release a new version next week.

Thanks

[2021-12-14 05:00] fjuan commented on #944
Hello @tchiotludo

log4j version 2.13.2 is included as part of the  "kafka-connect-client" version "3.1.1" from sourcelab.

They have released version "4.0.0" with an updated log4j-2.15.0.
Reference: https://github.com/SourceLabOrg/kafka-connect-client/blob/v4.0.0/pom.xml#L64

Even though AKHQ doesn't use the vulnerable log4j, would it make sense to update the kafka-connect-client dependency in or

[2021-12-14 07:05] tchiotludo commented on #944
try to do it here : https://github.com/tchiotludo/akhq/pull/947
Update all deps :smile:

[2021-12-14 08:47] #800 closed

[2021-12-14 08:48] n-i-c-o-l-a-s commented on #853
Hello. A regexp to filter schemas would be very useful.

[2021-12-14 12:19] twobeeb commented on #846
Hello, @tchiotludo
I deployed dev branch on some instances and I experience the behavior documented in #907.

Other than that, everything seems ok.

[2021-12-14 12:22] twobeeb commented on #907
Same here on `dev` branch.

The JWT cookie is present (and correct) after the first authentication if it's anything useful.

[2021-12-14 14:08] SansDK commented on #800
@tchiotludo In response to the LOGBACK-1591 vulnerability report, Logback released version `1.2.8`. Do you know if the version `1.3.0-alpha10` that you're using is still vulnerable?

[2021-12-14 14:28] SansDK commented on #800
https://jira.qos.ch/browse/LOGBACK-1591

Version `1.3.0-alpha10` is affected by this vulnerability. I suggest to re-open this issue until Logback released a `1.3.0-alpha11` version with a fix for the `LOGBACK-1591` vulnerability, and you updated this in your dependencies.

Thanks

[2021-12-14 14:32] tchiotludo commented on #800
done ;)

[2021-12-14 14:46] tchiotludo commented on #800
revert since both are not released !

[2021-12-14 15:12] mamjong opened #951 "Update logback version to fix LOGBACK-1591"
Hi,

As far as I know logback suffers from a similar vulnerability as Log4j (https://jira.qos.ch/browse/LOGBACK-1591)
Once logback 1.3.0-alpha11 is released is it possible to upgrade?

Thanks.

[2021-12-14 15:16] #951 closed

[2021-12-14 15:26] tchiotludo commented on #951
I update to 1.2.8

[2021-12-14 21:54] tchiotludo commented on #932
Fix the list of cluster with a scrollbar, didn't find for the menu, strange layout need a deeper search

[2021-12-14 23:10] raphaelauv opened #952 "new release for LOGBACK-1591"
Do you plan to release a 0.20 since your merged https://github.com/tchiotludo/akhq/commit/4c01cfdc5df6d8fdd3450718de29e8e120cb7bb5
?
Thank you

[2021-12-15 10:58] twobeeb commented on #932
Much better on my side, thank you.

![image](https://user-images.githubusercontent.com/6431261/146173863-7445f82d-d2b7-48d1-94ce-1959c1392dc4.png)
![image](https://user-images.githubusercontent.com/6431261/146174398-af5ffb18-7e3a-4599-b9f9-dd86a8d6c65b.png)

[2021-12-15 16:11] EdwinFajardoBarrera commented on #835
I would like to work on this, can you assign me?

[2021-12-15 16:12] tchiotludo commented on #835
@EdwinFajardoBarrera done :+1:

[2021-12-15 20:37] JohnPreston commented on #908
I am having similar issues on my end. I set `DESCRIBE` and `DESCRIBE_CONFIGS` for all topics, all consumer groups (with a prefix though in the ACLs, such as `company.something`, for the consumer groups).
I explicitely `DENY` read on topics in the ACLs (because this is not the intended use in my use-case).
These ACLs allowed kafdrop to list all topics, all consumer groups (and see lag etc) etc. but

[2021-12-16 11:14] twobeeb opened #957 "Attributes are not mapped to the claim with RestApiClaimProvider"
I'm observing a very strange behavior in ``dev`` branch. It's working fine in 0.18 (didn't test 0.19)

The JWTClaimSet is properly generated during authentication.
[code]
But then when it's converted to JWT and parsed during the following calls, its attributes are not mapped:
[code]
This is particularly important because the value ``{ }`` is interpreted as "full access" in AKHQ. So instead of not

[2021-12-16 12:37] twobeeb commented on #957
I don't have this behavior when using the LocalSecurityClaimProvider
[code]

Notice the difference between RestApiClaimProvider and LocalSecurityClaimProvider :
[code]

[2021-12-16 13:06] tchiotludo commented on #957
I try quickly, LocalSecurityClaimProvider works well and I have unit test that validate everything works.

I just see that isn't unit test on this `RestApiClaimProvider` so there is no validation that this is working.
Maybe you can add some in order to find the issue ?

[2021-12-16 13:13] twobeeb commented on #957
Agreed, I should mock a response to an external API to verify it produces the proper JWT token

[2021-12-16 13:29] tchiotludo commented on #957
You can also used micronaut directly to respond what you need with mocking, even more simplest

[2021-12-16 15:56] twobeeb commented on #957
So in summary:
1. Micronaut 3.x broke the deserialization of the Map\<String, Object\> used in AKHQClaimResponse
2. I added the necessary test to validate the failure on `dev` it in #959
3. I have a proposition for a fix in #958, but maybe you have a better solution

This subject is not urgent since I'm currently using `0.18` in my environnements (I just temporarily deployed `dev` to validate #932

[2021-12-20 06:26] MeijerM1 opened #960 "Option to show all consumerhroups by defualt"
In version 0.19.0 when browsing the topics page only 1 consumer group per topic is shown by default.
To view all consumergroups a dropdown arrow has to be clicked.

I'd like an option to always show all consumergroups by default.

[2021-12-20 20:41] #957 closed

[2021-12-21 06:49] #810 closed

[2021-12-22 06:33] MeijerM1 commented on #960
I could open a PR for this if you'd like

[2021-12-22 06:50] tchiotludo commented on #960
thanks @MeijerM1, PR are always welcome :+1:

[2021-12-22 20:08] EdwinFajardoBarrera opened #965 "Reference to Record is ambiguous"
In newer compilers, it marks an ambiguous reference error (TopicController.java):

`both class org.akhq.models.Record in org.akhq.models and class java.lang.Record in java.lang match
`

It could be caught by importing `org.akhq.models.Record;`

![image](https://user-images.githubusercontent.com/36389489/147149069-6875f5a9-b47f-42cc-9892-5f1bfdc56e34.png)

[2021-12-22 20:08] EdwinFajardoBarrera commented on #965
@tchiotludo can I submit a PR with the solution?

[2021-12-22 20:13] tchiotludo commented on #965
Yes you can, automatic clean for idea remove them always :confused:

[2021-12-22 20:26] #965 closed

[2021-12-22 21:20] tchiotludo commented on #835
done in #962

[2021-12-22 21:20] #835 closed

[2021-12-22 21:22] #724 closed

[2021-12-22 21:23] tchiotludo commented on #844
already fix since 0.19.0

[2021-12-22 21:23] #844 closed

[2021-12-23 01:27] skaravad opened #967 "header authentication missing logged in user info in the UI"
Enabled header auth and everything is working fine, except that in the UI, the logged in user info is missing , i think this was a side effect of removing the logout button for header auth, is there anyway we can have it back

[2021-12-23 08:04] #967 closed

[2021-12-23 13:39] nightswimmings opened #968 "Add Kafka compatibility matrix or some note on the topic in README"
We'd like to know what Kafka versions does akhq support officially and in a tested way (if all of them are compatible, then a note would be useful)

Thanks!

[2021-12-23 15:57] jheinitz opened #969 "Cannot connect to Kafka Broker using SASL with OAUTHBEARER"
Hello,

I'm trying to connect to my Kafka Broker using SASL. I'm using the docker version 0.20.0. I can successfully connect to the broker when running

`kafka-topics --bootstrap-server broker:9094 --command-config command_sasl.properties --list`

The command_sasl.properties lokks like this:

`security.protocol=SASL_SSL`
`ssl.key.password=<pass>`
`ssl.keystore.location=keystore.jks`
`ssl.keystore.

[2021-12-23 16:56] tchiotludo commented on #969
There is a missing deps on akhq side, was added, you can test on dev branch in 20 minutes

[2021-12-23 17:00] EdwinFajardoBarrera commented on #564
Hello @tchiotludo, I would like to work on a solution to this, can u assign it to me?

[2021-12-23 17:03] tchiotludo commented on #564
How will you handle this ?

[2021-12-23 17:12] EdwinFajardoBarrera commented on #564
Well, I think the backend is required to catch large messages and only send a small preview. I see the limit is almost 10MB but if we send 10MB messages the problem could just persist, so maybe I think 5MB could be ok. What do you think?

[2021-12-23 17:13] tchiotludo commented on #564
It's a good solution, please add a configuration options with a decent default value (5MB)

[2021-12-23 17:14] tchiotludo commented on #968
Mostly Kafka is retrocompatible from the client side, so I think any kafka 2.0 will be ok but to be honest I don't test will very old version myself (mostly 2.5+), If you want you can make a PR with the version working on docs

[2021-12-23 22:01] jheinitz commented on #969
Hi! That was quick. Thanks a lot. Will be able to test not before beginning of January. Will give feedback then.

[2021-12-29 19:46] EdwinFajardoBarrera commented on #564
Hello @tchiotludo, I still working on a solution to this issue. I'm catching the size of messages in the backend and the problem stills if there are many messages of length near to the limit (4.9MB for example) and I think cutting the message does not give a good UX because JSON format fails and maybe is not worth seeing only a cut part of a message. I'm thinking about only showing a message infor

[2021-12-29 20:00] tchiotludo commented on #564
I still think the truncate is the better option than nothing, debugging without any message is impossible, I prefer a snippet
Why not the share button can display the full message, it's a good idea.

[2021-12-31 06:34] skaravad commented on #967
works great, thank you.

[2021-12-31 13:43] Naimkharrez commented on #837
@jiyangtw I have the same issue. The akhq redirect_url shows the http but in azure side the redirect_url is in https.
did you find a solution for this issue?

[2021-12-31 13:43] tchiotludo commented on #837
what version of akhq are you using ?

[2021-12-31 13:47] Naimkharrez commented on #837
I use the 0.19 but I find the same issue with the 0.20

[2022-01-02 14:14] MeijerM1 commented on #960
Implemented in #971

[2022-01-03 10:59] jheinitz commented on #969
Hello!

Happy New Year to you and all others reading this.

I found some time to test the dev docker image to see if I could connect to my Kafka Cluster through SASL, but I still fail to connect. But this time the error is different from the one I saw before. I'm using the docker image tag

`tchiotludo/akhq:dev (id:8ffb081b4d53)`

This what I get when I try to connect:

[code]

Could it be that th

[2022-01-03 11:54] jheinitz commented on #969
Hi @tchiotludo ,

is there a way for me to re-open this issue?

Cheers

Jens

[2022-01-03 13:44] tchiotludo commented on #969
@jheinitz I don't think I can resolve this one :
The stacktrace goes [here]( https://github.com/apache/kafka/blob/3.0/clients/src/main/java/org/apache/kafka/common/security/ssl/DefaultSslEngineFactory.java) and there is no occurence of `castOrThrow`

The code on the confluent package added :
[code]
where `castOrThrow` is called and don't exist anywhere...

The only mention is here with this stackt

[2022-01-03 14:18] jheinitz commented on #969
Bon jour!

Thanks for looking into it. When I go through the coments in kafka-ops/julie#241 I can see that purpon is using all jars from Confluent for Kafka Julie to avoid problems with RBAC. I think that is hapening due to the fact that RBAC is pure Confluent stuff and not available in the basic kafka packages. Am I right?

Would it be an option to provide a test image where you do something simi

[2022-01-03 20:54] tchiotludo commented on #969
Not really sure for the julie issues, I don't know the project myself.
Just found some people with the same issues but clearly the code (from confluent package `kafka-client-plugins`) couldn't work as is. I'll try to find quickly with an older version of Kafka and don't find the method requested by this package.

yes, there is no public github as I see

To be honest, I don't even know this auth si

[2022-01-04 15:30] Atomciok opened #972 "Bitnami Kafka VM and application.yml"
Hi Ludovic,

I would like to test standalone AKHQ in combination with Bitnami Kafka VM
https://bitnami.com/stack/kafka/virtual-machine.
Could you please  publish an application.yml as example for Bitnami Kafka configuration?
I am stuck  on "Failed to create new KafkaAdminClient" problem

Thanks
Andre

[2022-01-04 15:59] jheinitz commented on #969
Hello @tchiotludo !

I just confirmed with my colleague tha we successfully connected to the same Kafka Cluster using Julie.

We are currently working on it. As soon as I have something to show, I will let you know.

Thanks and kind regards

Jens

[2022-01-05 15:35] jgrammen-agilitypr opened #974 "configure where akhq logs"
I have look through the documentation and various links but i cannot find any information on how to configure where akhq logs.

How does one set the file/destination for the logging?
[code]

[2022-01-05 15:35] tchiotludo commented on #974
are you using the standalone jar?

[2022-01-05 15:37] jgrammen-agilitypr commented on #974
yes, I am using the stand alone jar
used the following instructions : https://akhq.io/docs/installation.html#stand-alone

[2022-01-05 15:41] tchiotludo commented on #974
AKHQ is based on logback.
So by default all the logging is on stdout / stderr.
If you want to change this, you need to provide a custom [logback](https://logback.qos.ch/manual/configuration.html) configuration & launch it with :
`java -Dlogback.configurationFile=/path/to/config.xml ...`

[2022-01-05 17:41] #974 closed

[2022-01-05 19:19] tchiotludo opened #976 "No consumer groups, you can click on next page"
and will lead to this error :
[code]

[2022-01-05 19:27] #564 closed

[2022-01-05 19:30] tchiotludo commented on #837
Are you behind a reverse proxy ?

[2022-01-05 19:52] tchiotludo commented on #939
wait for this : https://github.com/micronaut-projects/micronaut-security/pull/894

[2022-01-06 18:34] EdwinFajardoBarrera commented on #976
I would like to work on this!

[2022-01-06 19:07] tchiotludo commented on #976
It's for you 😉

[2022-01-06 19:25] tchiotludo commented on #914
@ebrard can you retry with last version please ?
Since there is a major upgrade from micronaut that don't use RxJava, it will be fine to test it again :pray:

[2022-01-11 16:53] Adel-Akbi opened #978 "LDAP configuration"
Hello,

We are trying to configure the LDAP in order to allow users to connect using their ID.. we tried before this since we were using the version 0.13 but now we recently upgraded to 0.19 telling that the version 0.19 bring the solution of our last problem.. but we still have the same issue.

We have this error message :

Jan 11 17:38:37 SERVER akhq: at java.base/java.lang.Thread.run(Thread.jav

[2022-01-11 16:58] tchiotludo commented on #978
[code]
since that we have missing `enabled: true` on your yaml configuration ?

[2022-01-11 17:13] Adel-Akbi commented on #978
it's already  set

[2022-01-11 17:23] tchiotludo commented on #978
We can send an anonymized yaml please ? remove all the mention from your company ;)

[2022-01-12 10:38] Adel-Akbi commented on #978
micronaut:
  security:
    enabled: true

############LDAP########

    ldap:
      default:
        enabled: true
        context:
        server: 'ldap://SERVER:389'
        managerDn: 'cn=USER,OU=Service,DC=dom******,DC=***'
        managerPassword: '****'
      search:
        base: "OU=***,OU=***,DC=dom*******,DC=**"
      groups:
        enabled: true
        base: "OU=**,OU=**,DC=dom*****,D

[2022-01-12 19:06] tchiotludo commented on #978
Please enabled more logs with [this](https://akhq.io/docs/debug.html#debugging-authentication)

[2022-01-13 13:34] Adel-Akbi commented on #978
Hello,

I have already executed the debug commands you sent, the problem still persists and no concrete logs...

[2022-01-13 13:34] tchiotludo commented on #978
does curl return a response code 200 ?

[2022-01-13 13:35] Adel-Akbi commented on #978
Yes

[2022-01-13 13:42] tchiotludo commented on #978
Ok good, now try to login and you will have more log on the webserver

[2022-01-18 13:24] jgrammen-agilitypr opened #983 "Add extra information to nodes page - controller status, partition load"
Any chance the following extra information could be added to the nodes page?

![image](https://user-images.githubusercontent.com/22965146/149945486-4326e6d2-4343-4300-b2ac-d6f6b9a8221f.png)

Having the controller status and the partition load (% of total), is very helpful to see when the cluster has stabilized post reboot.

[2022-01-18 13:26] jgrammen-agilitypr commented on #983
maybe the node page could also indicate when a node is missing:
![image](https://user-images.githubusercontent.com/22965146/149945971-5689c1b1-dea6-4200-b167-490c39027cc5.png)

[2022-01-18 15:05] christofluethi opened #984 "Exception from RestApiClaimProvider using the External roles and attribute mapping"
Trying to use the External roles and attribute mapping. But there is an `Exception from ClaimProvider` which occures if the external rest service is configured.

Am I missing something?

Logs:

[code]

Current Configuration:
[code]

[2022-01-18 18:15] twobeeb commented on #984
Yes ! @christofluethi
**Short version**
`topics-filter-regexp` > `topicsFilterRegexp` and so on.

**Long version**
The kebab to camel case conversion doesn't work unless you are specifically using Micronaut Configuration API (for AKHQ yaml config files for instance)
AKHQ Documentation is invalid. My mistake, I'm very sorry for the mislead, I will submit a PR tonight.
My implementation is available

[2022-01-19 08:27] christofluethi commented on #984
Thanks @twobeeb that worked. Created a PR, feel free to merge PR #985 or do your own.

[2022-01-19 10:40] #984 closed

[2022-01-19 10:52] michael-datareply opened #986 "Liveness/Readiness Probe fails for Helm chart installation after 0.2.2"
We wanted to upgrade from helm chart version 0.2.1 and image version 0.17.0
Unfortunately for all versions thereafter both the Liveness and the Readiness probes consistently fail.
Here is the error for versions 0.2.7 and 0.20.0:

[code]

[2022-01-20 12:38] pimpelsang opened #988 "feature request: display offset metadata in consumer group details page"
Hi,

Kafka consumers can send additional metadata when committing offsets, but right now it's hard to view it (other than searching through the __consumer_offset topic).

I wish there was additional column "Metadata" next to "Offset", "Lag" that displays the last committed offse metadata string value for that topic partition.

[2022-01-21 08:50] gerardgorrion opened #989 "Alerting - Topic lag"
We are using akhq to monitor our kafka msk solution into aws. The data of the kafka is managed by eck stack operator into k8s.

Issue:
Some days, the lag of some topics increases in a short time period.
![image](https://user-images.githubusercontent.com/35425181/150495205-0f652bae-4634-4278-86a0-7a6f288ad4e3.png)

We want:
There are some way to alert into external solution, like MSTeams via webhoo

[2022-01-21 12:20] tchiotludo commented on #989
for this usage, I don't think we will on this side, alerting is really complicated and need a lots of connector.

I will suggest you to look at [this](https://a-great-day-out-with.github.io/kafka.html).
For myself, I use [kafka-lag-exporter](https://github.com/lightbend/kafka-lag-exporter) with prometheus / alertmanager to handle this.

[2022-01-21 12:20] #989 closed

[2022-01-21 20:23] morokin opened #990 "Github SSO / OAuth2 support"
Hi, I'm trying to configure AKHQ to authenticate against Github Enterprise, but without success, Micronaut itself seems supporting this type of authentication https://micronaut-projects.github.io/micronaut-security/latest/guide/#oauth2-configuration.

Is it possible to add some examples on how it can be done in the README/docs section?

Thanks

[2022-01-21 20:59] tchiotludo commented on #990
It's not supported for now.
As micronaut said, we need to have :

It's seems that the doc made a full example of the implementation.

PR are welcome

[2022-01-24 09:56] timtebeek opened #992 "Link from consumer group topics offset column to topic message"
When viewing consumer group topics it would be nice to link from the offset column directly to the associated message. So from:
`/ui/{cluster}/group/{consumergroup}/topics` to:
`/ui/{cluster}/topic/{topic}/data?single=true&partition={partition}&offset={offset}`.

That way it's easier to verify what is the last message that a consumer with lag has not yet processed.
Just a nice little touch to help

[2022-01-24 09:59] tchiotludo commented on #992
I was thinking the same need for month, without the time to implement it. there is a lot of cross link like that can be useful.
PR are welcome and that since that a simple one :smile:

[2022-01-26 11:08] thibthibus opened #993 "Which ACLs are required for the KafkaUser used by AKHQ to access Kafka cluster ?"
Hi,

I don't find in the documentation the requirements regarding the ACLs for the KafkaUser used by AKHQ to access Kafka cluster.
In our experimentations we ended up with this configuration:
[code]
I don't understand however why the last 2 ACLs are required. I tried to remove the Describe ConsumerGroup '*' and replaced it with a more restrictive permission (only to a specific consumer group prefi

[2022-01-26 11:20] thibthibus commented on #993
Maybe this is redundant with Issue #908 ...

[2022-01-26 11:28] tchiotludo commented on #993
maybe also but maybe one of you can add the documentation ?
To be honest I always use an allow all user to connect to kafka.
If someone can add the doc, I will be grateful

[2022-01-26 15:33] thibthibus commented on #993
Salut Ludovic,

Ok I understand, we need specifically to restrict these admin features of AKHQ.
Where would you see this part in the existing doc ? I can try to contribute, for sure.

Regards,

Thibaut

[2022-01-26 15:38] tchiotludo commented on #993
There is no existing page on that for now ;)
You have a full white page for you :smile:

[2022-01-26 15:47] thibthibus commented on #908
I'm facing the same issue. I'm getting this error: `FindCoordinator request for groupId CoordinatorKey(idValue='anotherConsumerGroup', type=GROUP) failed due to authorization failure`

`anotherConsumerGroup` is typically a ConsumerGroup for which the AKHQ KafkaUser doesn't have Read&Describe authorization

I wonder if this has to do with this line of code: https://github.com/tchiotludo/akhq/blob/b

[2022-01-26 16:17] dezka opened #994 "UI-options don't seem to work at all."
I have the following docker setup:

[code]

Note I'm trying to set `default-view` to `ALL` and `skip-last-record` to `true`. However, when I load the UI these don't seem to take effect:

![Screen Shot 2022-01-26 at 11 15 43 AM](https://user-images.githubusercontent.com/17245526/151202094-a29c74dc-9c2c-43d0-9ced-21e2f0d44752.png)

I've noticed similar behavior for `akhq.ui-options.topic.show-all-co

[2022-01-26 20:23] tchiotludo commented on #908
@thibthibus I wasn't aware of this `valid()` method.
I also think it will remove your errors as I understand but I'm little bit doubtful it was really a good choice, people will raise issue about missing consumer group I think.
Maybe an explicit akhq configuration that will allow to use partial result will do the trick ?
PR are welcome

[2022-01-26 20:49] tchiotludo commented on #994
Can you tried with a private navigation please ?
There is some options that is stored on the localStorage

[2022-01-26 21:04] dezka commented on #994
In private mode it works.

good to know, thanks for info!

[2022-01-26 21:05] #988 closed

[2022-01-26 21:06] tchiotludo commented on #988
I don't it blindness, can you try the dev branch please ?

[2022-01-26 21:10] #976 closed

[2022-01-26 21:16] #992 closed

[2022-01-26 21:18] tchiotludo commented on #983
PR are welcome on that,
- 1st is a simple ui.
- 2nd seems to be more complicated (I don't know if the api return the valueà

[2022-01-26 23:25] kitsiosvas commented on #327
Hello, is this issue still open? I'm interested to work on, if that's the case.

[2022-01-27 05:49] tchiotludo commented on #327
@kitsiosvas you can take it 👍

[2022-01-27 13:44] mlongarai opened #997 "toYaml breaks the application-secrets.yml file"
Hey guys,

I just found out that the _toYaml_ convert positioned in the secrets template, is breaking the use of the "|" pipe when the pod is created.

`application-secrets.yml: {{ toYaml .Values.secrets | b64enc | quote }}`

From my tests it should be - at least worked for me - (without toYaml):
``application-secrets.yml: {{ .Values.secrets | b64enc | quote }}``

Could you guys fix this or it req

[2022-01-27 15:24] techpassionx opened #998 "Failed to read configuration file"
When I try to deploy AKHQ on AKS I get an error:
[code]

The configuration file(```application.yml```) looks like this:

[code]

[code]

[2022-01-27 17:40] #994 closed

[2022-01-27 20:07] jgrammen-agilitypr commented on #983
so i see you have merged the controller status in. I will next tackle the partition information, now @tchiotludo has clarified that it needs back end updates.

[2022-01-28 08:19] florianmutter opened #1006 "Decimals are not parsed correctly"
If I have a schema with a decimal like this (example from the code):
[code]

and I create a message with decimal 1.00 like this:

[code]
 The message is displayed in the extended json view like this:
[code]

This json can then not be used to send the message again because it cannot serialize 1.

While testing I got two different errors:

[code]

And

[code]

We also had the case that it did accept

[2022-01-28 08:23] florianmutter commented on #1006
Hmm now that I tried it again, just to be sure it worked like expected. They I only wonder how we did manage to create this random number when sending the same message that was displayed again to the topic...

[2022-01-28 15:26] fabiofilz commented on #1006
Hi,

I am facing the same issue with Double fields.

So if I get one of the messages from AKHQ and try to publish it again, it shows the error as below so I need to add ".0" and it will work.

![image](https://user-images.githubusercontent.com/45266582/151573698-6c01cbf3-099a-4363-bf95-851cf8721c4e.png)

[2022-01-28 16:53] jgrammen-agilitypr commented on #983
I am struggling a little bit to figure out where in the backend java code I need to insert the code to fetch the partition information so that it can be included in the info passed to the /nodes page. Can anyone provide some guidance?

[2022-01-31 14:05] ddellarocca opened #1007 "Group connection restiction"
Hi,
I'm testing out the feature to use groups in order to grant access to akhq for the users, but i'm facing some issues.
What i want to archive is segregate a group to a single cluster, for example i have two clusters development and production and i want a group of user to be admin of development and another one to be admin of production, the configuration is the following:

[code]
But when i lo

[2022-01-31 21:02] fabiofilz opened #1009 "Environment Identification"
Hi,

Would it be possible to change the appearance of AKHQ by changing the configuration in the value.yaml?

We are using AKHQ in different environments and having an option to change the colour (or having a banner with environment name) would be very useful to identify easily in which environment you logged in.

Thank you.
Fabio

[2022-01-31 21:18] #1009 closed

[2022-01-31 21:31] tchiotludo commented on #1009
enjoy on `dev` branch: https://akhq.io/docs/configuration/akhq.html#inject-some-css-or-javascript

[2022-02-03 13:28] hyde404 opened #1012 "Header-auth not working properly"
Hello,

I would like to use header-auth config as an "authorizer".
The service is deployed on k8s and uses a oauth2-proxy container as a sidecar to log users with openAM.
We are able to login through oauth2 process and we get headers we want like `X-Forwarded-Groups` and `X-Forwarded-Email`.
To make sure these headers are forwarded, I added a "middleman" container which logs headers from oauth2.

[2022-02-04 23:39] apatel0708 opened #1014 "SASL Config works for a little then throws certificate errors for only the AdminClient"
When AKHQ starts up, it works fine for about 15-45 mins (varies). Then it starts to throw the following.

2022-02-04 23:37:50,939 [31mWARN [0;39m [35minclient-1[0;39m [36mc.a.i.AdminMetadataManager[0;39m [AdminClient clientId=adminclient-1] Metadata update failed due to authentication error
org.apache.kafka.common.errors.SslAuthenticationException: SSL handshake failed
Caused by: javax.net.s

[2022-02-08 19:28] jgrammen-agilitypr commented on #983
After some more looking through the code, it is apparent that somehow the NodeController needs access to the topic repository, but it is un clear to me how this can happen
any advice?

[2022-02-16 11:56] fabiofilz opened #1022 "Improvement on copy events feature from a topic to another"
HI

I would like to check the possibility of when copying events from one topic to another if we could:

1 - Select which event we want to copy or select ALL.

2 - When copying the event succeeded, check if Schema exists associated with the destination topic and create it if don't exist. We had to create the schema manually/subject to the destination topic in order to not break any Kafka Connector

[2022-02-16 12:09] tchiotludo commented on #1022
Hi,

For the 1, seems to be a good idea.

For the 2, I don't understand why it will break things, avro schema are encoded in the message with an id and don't depend from topic, it should not break anything to copy a message from a topic to another topic on the same cluster :thinking:

[2022-02-16 14:28] fabiofilz commented on #1022
Hi,

Let me send you an example:

We copied the entries from the DLQ topic to the RAW topic and this made the Connector throws errors.

To fix it we created a new schema in the RAW topic by copying the text from the DLQ schema ID 350. After saving it, it creates a new subject pointing to the same schema ID source (ID 350).

My understanding is that the schema key 350 is pointing to 2 subjects and

[2022-02-16 18:27] spinside opened #1023 "Configure Okta authentication via OIDC"
I tried to configure Okta with the following settings:
[code]
When I click on login it redirects me to Okta. I can enter my credentials and get redirected back to the app. So far so good.

After this step AKHQ tries to check the JWT validity. There it's not going as expected:
[code]
(Enabled debug logging)
I can't figure out what I'm doing wrong. Any help/input would be appreciated.

[2022-02-16 19:47] tchiotludo commented on #1023
The stacktrace lead me to this :
[code]

that seems to tell the jwt token is missing `URL of the Open ID Provider's JSON Web Key Set`

As I understand the well know is missing an url in order to be compatible

[2022-02-17 10:26] spinside commented on #1023
Hmm i'm having trouble understanding what this exactly means. I tried adding the following:
[code]
Based on the following documentation: https://developer.okta.com/code/dotnet/jwt-validation/#get-the-signing-keys and
The issuer appears to be the same as the jwks validation url.

I used this to get the right settings for the jwks url:
https://micronaut-projects.github.io/micronaut-security/latest/g

[2022-02-17 20:10] tchiotludo commented on #1023
To be honest, I'am completely blindness so I only try to give you some insight. I know people have a working installation, but I never used myself Okta.

All let me think the url must be provided inside the jwt token in response of auth that lead to this null pointer, but clearly I don't known how to configure that.

Since AKHQ rely only on micronaut, I really think there is a special configuratio

[2022-02-22 17:36] nightswimmings opened #1026 "/topic/data endpoint is not honouring akhq.topic-data.size"
It keeps returning the default count number 50, even if akhq's application.yml contains the key
akhq:
   topic-data:
        size: 2000

[2022-02-22 17:41] tchiotludo commented on #1026
Looking at code, we never used this option, so normal it don't work. I think a quick fix was possible but need more time to handle this.
PR are welcome :+1:

[2022-02-22 17:48] tchiotludo commented on #1026
Exactly.
Or you can change this :
[code]
that will do the job I think

[2022-02-22 17:53] nightswimmings commented on #1026
I checked the code  in RecordRepository but it seems this part is not used anywhere:

[code]

[2022-02-22 17:55] tchiotludo commented on #1026
This vars `maxPollRecords` is not used, but the `max.poll.records` is injected on every consumer, so that one works

[2022-02-24 17:12] lucapette commented on #1026
@tchiotludo are you working on this already? I'd love to contribute back to akhq (which I used a lot in past years) and a bug fix may be a good way to learn about the code base

[2022-02-24 17:23] tchiotludo commented on #1026
@lucapette: I don't work on this but I'm not sure we need to work on this, since we `max.poll.records`, maybe removing the options and the documentation will be fine

[2022-02-24 18:26] lucapette commented on #1026
@tchiotludo if that's your preference, I understand. I can do the docs if you want (I value docs contributions as much as code. Still works as a way to get acquainted with the codebase as well) and probably close the issue with that pr (your call of course!)

[2022-02-24 19:35] tchiotludo commented on #983
You need to inject topic repository :
[code]
and add some filtering on partitions based on node id

[2022-02-24 19:45] tchiotludo commented on #1026
yes documentation have a lot of values :+1:
If you want to search something to do I do some triage [here](https://github.com/tchiotludo/akhq/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22)

[2022-02-25 09:42] gigiquery opened #1027 "Can't authenticate with large topic list"
Hi,
We are using LDAP authentication and default JWT configuration.
JWT token is sent using cookie with the topics in it.
In our case we have a huuuge list of topics in the "topics-filter-regexp" parameter of the application.yml (about 1280).
When this list is sent in the cookie with the authentication information, it's blocked by Chrome because the size exceeds 4096 bytes.

We found a workaround

[2022-02-27 14:11] edenkoveshi opened #1030 "pressing 'Enter' when creating a topic disconnects from the AKHQ (connection reset by peer)"
Hi,
I tried to create a topic and when I entered a name for the topic I pressed 'Enter' and I got disconnected from the GUI (had to put my AKHQ credentials again).
The error I saw in the logs was: 'Connection reset by peer'.
My AKHQ is deployed on openshift

[2022-02-27 20:50] tchiotludo commented on #1030
I think it will be really hard to debug. Connection reset by peer in an openshit env can be a lot of stuff (LB, container, ...).

Are you able to reproduce the issue easily or not ?

[2022-03-01 12:46] lamoboos223 opened #1031 "AKHQ works but doesn't show GUI"
![image](https://user-images.githubusercontent.com/35597031/156171957-574c8c3a-7dbb-4458-af6f-ffa67be80766.png)
as you can see i'm launching AKHQ throug the main class, didn't make any jars.

i sat the configuration file with new secret as recommended and i have added the kafka clusters

[code]

but the UI shows nothing. I'm using release 0.20.0.

this is the stack trace:

[code]

[2022-03-01 12:50] lamoboos223 commented on #1031
![image](https://user-images.githubusercontent.com/35597031/156171957-574c8c3a-7dbb-4458-af6f-ffa67be80766.png)
as you can see i'm launching AKHQ throug the main class, didn't make any jars.

i sat the configuration file with new secret as recommended and i have added the kafka clusters

[code]

but the UI shows nothing. I'm using release 0.20.0.

this is the stack trace:

[code]

[2022-03-01 12:52] tchiotludo commented on #1031
Please provide :
- AKHQ version using ?
- Deployment type ? Jar / Docker / k8s
- Look at JS console (F12 on chrome) and provide error ?

[2022-03-01 12:55] lamoboos223 commented on #1031
- release 0.20.0
- deployment is jar
- console output is:
![image](https://user-images.githubusercontent.com/35597031/156172641-7ffab07e-ae6b-4892-b329-efb147ffc14d.png)

[2022-03-01 12:59] tchiotludo commented on #1031
humm really strange, can you provide the source code off js files please ?
f12 + click on files at right with expected token <

[2022-03-01 13:02] lamoboos223 commented on #1031
[code]

[2022-03-01 13:08] tchiotludo commented on #1031
Humm really strange, you have the html, not the js.
Can you provide the full configuration as yaml and the command line you use to start the application please ?

[2022-03-01 13:14] lamoboos223 commented on #1031
[code]

and i start my application from here:
![image](https://user-images.githubusercontent.com/35597031/156175511-b13fd19d-1355-4213-8020-f70fd641705c.png)

[2022-03-01 13:19] tchiotludo commented on #1031
Haa ! Now, I understand you are trying inside the IDE :smile:
For the IDE part, you need the start the as a separate process running `npm run start` inside `client` in order to load the ui, since the ui is only available at build time for the final jar.

[2022-03-01 19:50] lamoboos223 commented on #1031
ok so this one worked.

if i wanted to run it as a jar what should i do?

i did the following:

1- gradle clean
2- gradle build -x test

now i have a jar file `/build/libs/akhq-0.19.0.jar`

now when i run it with the following command: `java -jar .\build\libs\akhq-0.19.0.jar`

i get this output:

[2022-03-01 20:25] tchiotludo commented on #1031
you just need to use `./gradlew shadowJar` to have a fat with dependencies

[2022-03-01 20:51] lamoboos223 commented on #1031
worth to mention, i used node version 16 to start the frontend and it didn't launch properly. so i replaced it with node version 14 and now it works perfectly.

[2022-03-01 20:51] #1031 closed

[2022-03-02 15:00] RasmusOlesen opened #1032 "Error logging disabled on app version 0.20.0 / helm chart 0.2.7"
Error logging or error log output seems to be disabled on helm chart version 0.2.7 / app version 0.20.0
And i cant enable it via values.yaml when deploying via Helm.

pod logs:
[code]

On earlier versions, i get error logging by default.
Helm chart version 0.2.6 / app version 0.19.0

[code]

This makes it impossible to debug config errors.

[2022-03-03 15:02] lucapette commented on #1026
@tchiotludo thank you! I'll have a look as soon as I can. If you're ok with it (reaction to the comment will do) I'll open a pr to clean up the docs from the unused option

[2022-03-03 15:04] tchiotludo commented on #1026
@lucapette thanks ;)

[2022-03-04 19:28] jgrammen-agilitypr commented on #983
There is now a pull request to add the additional "partitions" column. Code is functional as far as I can test (I don't know how to join a second node to the Kafka cluster in docker). Comments are welcome, especially given this is my first time contributing Java code.

[2022-03-05 01:56] linkedby-data opened #1034 "Topics not loading for OCI Streaming - Internal Server Error: Error for List Log dir"
**Describe the bug**
Hi,
I'm trying to use akhd v0.20.0 connected with OCI Streaming, but the topics don't load, it shows the message Internal Server Error: Error for List Log dir.

**Set up**
Run latest image in docker:
[code]
**Steps to Reproduce**
Steps to reproduce the behavior:

1. docker run -d -p 8080:8080 -v /path/to/application.yml:/app/application.yml tchiotludo/akhq
2. http://localhost:

[2022-03-08 17:29] hervekhg opened #1035 "Error for Consume with options {}"
Hello,
When publishing and empty message on topic we have this error on AKHQ (0.20).
Any idea ?

[code]

[2022-03-09 09:28] spinside commented on #1023
Okay, I figured it out, it had to do with me mixing up OIDC and OAUTH

Correct config for Okta oidc:
[code]

[2022-03-09 09:28] #1023 closed

[2022-03-09 10:29] Zewenaco commented on #1035
Hello! I hope you're doing well; I'm related to this case. We are sending tombstone records to Kafka to delete events. Recently I searched and found this [jira link](https://cwiki.apache.org/confluence/display/KAFKA/KIP-810%3A+Allow+producing+records+with+null+values+in+Kafka+Console+Producer) of an improvement to producing Kafka tombstone record, could be helpful to reproduce the case locally.

I

[2022-03-10 16:15] BarFoos81 opened #1036 "configure session expiration"
Hi,

I have the same issue like https://github.com/tchiotludo/akhq/issues/318

Unfortunately the suggested solution does not work for me.

[code]

Any idea, how I could extend the session expiration?

Thank you very much

[2022-03-10 16:19] tchiotludo commented on #1036
hello :)
I think this is [this configuration](https://micronaut-projects.github.io/micronaut-security/latest/guide/#jwtGenerator) for will be working :

[2022-03-11 06:23] KirschenStas commented on #1036
Hi!

I've just set:
`micronaut.security.token.jwt.generator.access-token.expiration`
and it work for me!
@tchiotludo, thanks!

[2022-03-11 06:57] tchiotludo commented on #1036
Nice 👍

[2022-03-11 06:57] #1036 closed

[2022-03-11 08:49] BarFoos81 commented on #1036
I can confirm - it works. Nice. Thanks.

[2022-03-11 09:29] johnatannvmd opened #1037 "LEAK: ByteBuf.release() was not called before it's garbage-collected"
Got error on search:

[code]

[2022-03-13 20:24] tchiotludo commented on #1037
It's an error on [micronaut core](https://github.com/micronaut-projects/micronaut-core) that you can report. The bug is only on [Server Sent Events](https://docs.micronaut.io/latest/guide/index.html#sse) that is used on Live tail & search.

[2022-03-13 20:26] tchiotludo commented on #1034
OCI is not supported by AKHQ due to missing Kafka Api compatibility.
This seems to be possible to support but PR are welcome since I will never be able to test

[2022-03-13 20:28] tchiotludo commented on #1032
Seems to be really weird, no change on this part.
You will need to provide more information.

[2022-03-13 20:30] tchiotludo commented on #1027
This is a limitation of browser that we can't change.
Not really sure, but you may need to configure the topic directly on AKHQ configuration and directly use the group on the auth to avoid to have such large jwt token ?

[2022-03-13 20:33] tchiotludo commented on #1014
The error seems to said that your trustore don't contain the expected hostname.

[2022-03-13 20:39] tchiotludo commented on #1035
Humm really don't understand the way you produce inside topic :)
`kafka-console-consumer.sh` seems to say the the produce values is not null as I understand (and there is json / avro / ..., lot of stuff).
Can you send me a kafkacat with -J to have the raw output please ?

[2022-03-14 14:16] gigiquery commented on #1027
I'm not sure what you mean by "configure the topic directly on AKHQ configuration"
Our topic list is in the "akhq.security.groups.key.attributes.topics-filter-regexp"

We are aware that we can't change the browser cookie size but we were tying to explore other solutions like passing the topic list in another way.
Do you think that changing the authentication method in micronaut (session, bearer...

[2022-03-15 07:28] baganokodo opened #1039 "UI becomes super laggy after enabling "external roles and attributes mapping""
Hi,

With "external roles and attributes mapping" enabled, akhq makes ~50 repeated RPC calls to the remote REST endpoint after a user logs in. Even though each RPC call takes sub-second to return, these repeated RPC calls makes akhq very slow. Especially the topic/data screen often times out when listing messages of a topic, oddly, this action only invokes the remote RPC twice, it still shows sign

[2022-03-15 15:02] jessetandor opened #1040 "Ldap user access"
Can we use a wildcard to represent any user like so ---- *

This line here - https://github.com/tchiotludo/akhq/blob/59e78f5a2b0215095dd883fb7e6f67eb7c094459/application.example.yml#L248.

Makes sense to allow access if the user is already in the right ldap group instead of specifying each user that should be given access. Or is it that the whole ldap user section can be skipped?

[2022-03-15 15:45] baganokodo commented on #1039
Hi [tchiotludo](https://github.com/tchiotludo),

thanks again for your quick response. I can't post a screenshoot due to my company's policy. When I search "akhq.security.rest", I landed on "akhq.security.rest.RestApiClaimProvider" interface, could not find its implementations. I would like add a caffeine cache layer to reduce the number of REST calls. Could you shed some light on it?

Thank you

[2022-03-15 15:51] tchiotludo commented on #1039
I can't help you since I don't understand the issue without any screenshot or log (even anonymised, blurred)

[2022-03-15 19:20] ls50800977 opened #1041 "LDAPS user access"
Hi,

I am having trouble getting LDAPS connection working for my AKHQ.

My application.yml is as follows:

[code]
I've tried the openssl command on the container which managed to talk to the domain controller. There's complaint about trust cert because it's internal CA signed which I've loaded in jvm.options.

My major concern is I found no way to get helpful logs.

The only thing I could see is `

[2022-03-15 20:47] tchiotludo commented on #1041
Custom cert is support following [this](https://micronaut-projects.github.io/micronaut-security/latest/guide/#ldap):
You need to start the app with:
[code]
You can enable more log with [this](https://akhq.io/docs/debug.html#debugging-authentication)

[2022-03-15 20:49] tchiotludo commented on #1039
Don't help me, I need
- devtools screenshot (chrome + f12 + network tab + refresh page to see the request your are talking)
- akhq server log
- akhq version used
- deployment method (docker / jar / k8s / ...)

Without that I couldn't help

[2022-03-16 05:16] baganokodo commented on #1039
Thank @tchiotludo, after I enabled cache on RestApiClaimProvider, the REST server side only saw one request per user login, and that fixed the slowness problem for me.

Cheers

[2022-03-16 06:17] tchiotludo commented on #1039
Still not really see the issue but if it works for you fine 😉

[2022-03-16 06:17] #1039 closed

[2022-03-16 07:03] jessetandor commented on #1040
Indeed, access does work without specifying the ldap user's. But can we disable anonymous access?

Would like to force login, always.

[2022-03-16 07:04] tchiotludo commented on #1040
yes, just make [default-groups to no-roles](https://akhq.io/docs/configuration/authentifications/groups.html)

[2022-03-16 11:23] jessetandor commented on #1040
How can i get advanced logs for LDAP (group detection and mapping). Im currently using `TRACE' but it's not very informative.

[2022-03-16 11:59] tchiotludo commented on #1040
Following this [doc](https://akhq.io/docs/debug.html#monitoring-endpoint)

[2022-03-17 20:28] #983 closed

[2022-03-17 20:56] #579 closed

[2022-03-18 10:46] aboucham opened #1046 "Support Apicurio as schema registry"
That would be great if we have the support of Apicurio Registry as schema registry: https://www.apicur.io/registry/

[2022-03-18 13:07] adacaccia commented on #193
In my experience (app 0.20 from helm chart 0.27), the /env endpoint gets only deployed to the "management" port, 28081 by default in the Helm chart. 8080 is the default port for the standard service, and will never get the /env endpoint!

[2022-03-18 13:25] adacaccia opened #1047 "LDAP login OK, but AKHQ stays on the login page!"
Hello,
in my setup (K8s on OCI, app 0.20, Helm chart 0.27 + freshly deployed Kafka cluster with Strimzi 0.28), I can't get to a landing page even after a successful login via LDAP.

Here the details:
- values.yaml for the Helm deploy
imagePullSecrets:
- name: deploykey

image:
  repository: ***/tchiotludo/akhq
  tag: "release-0.20.0" # uses Chart.AppVersion by default

# custom annotations (exampl

[2022-03-18 14:15] FilatovM opened #1049 "jasckson-databind vulnerability"
As described in issue https://github.com/FasterXML/jackson-databind/issues/3328
jackson-databind requires update to 2.12.6 or 2.13.1 to avoid XRAY-191477 vulnerability.

As I understand, mentioned dependency comes from Micronaut 3.2.2 and it was updated in 3.3.x release - https://github.com/micronaut-projects/micronaut-core/pull/6846

Could you check if this problem applicable to akhq and update d

[2022-03-18 14:20] tchiotludo commented on #1049
I've try yesterday : https://github.com/tchiotludo/akhq/actions/runs/2000794030 & https://github.com/tchiotludo/akhq/commit/796fb4d15fe85f731131ed3193942ad55e858c43
but there is breaking changes on micronaut 2.3.X don't know if I will find time quickly to resolve this.
PR are welcome !

[2022-03-18 17:11] RasmusOlesen commented on #1032
It might be a specific issue on our kubernetes cluster.
But when i do a deployment of akqh with a broken config, i get no error logs on chart version 0.2.7.
When i deploy the same borken config on chart version 0.2.6 i get plenty of error output.

[2022-03-21 12:14] bartektartanus opened #1051 "[UI] Add page size option to tables"
Currently all tables shows 25 rows per page. Would be useful to have some dropdown field with more values to choose from, eg: 10, 25, 50, 100. This should be added next to page select component.

<img width="1526" alt="Zrzut ekranu 2022-03-21 o 13 07 54" src="https://user-images.githubusercontent.com/3193882/159258764-c9b0f188-6654-4369-bb30-8050dfb3f37d.png">

[2022-03-21 13:55] bartektartanus opened #1052 "[UI] Error message for "Produce to topic" could be more helpful"
Producing to topic with schema gives errors that don't really tell what's wrong.

1. message is empty (like empty string, not empty JSON)
error: `Internal Server Error: Cannot serialize value`
Maybe simple "message is empty" should be returned here?
2. some fields are missing in schema
error: `Internal Server Error: null`
Should at least tell that fields are missing or schema is wrong. Ideally - w

[2022-03-21 14:08] bartektartanus opened #1053 "[UI] Add custom column to topic list page"
In our system, we have a dashboard in Grafana for each Kafka topic. Would be nice to have a button that redirects users to that dashboard.
Is this possible with inject-js-code option?
https://akhq.io/docs/configuration/akhq.html#inject-some-css-or-javascript

[2022-03-22 15:26] hari819 opened #1055 "unable to configure protobuf deserialization , error ,".google.protobuf.Timestamp" is not defined."
I have converted my proto files to desc files and followed the link https://akhq.io/docs/configuration/protobuf.html , but could not get it working ,

`syntax = "proto3";

import "google/protobuf/timestamp.proto";

message ForElastic {
  google.protobuf.Timestamp eventDate = 2;
`

i am continuously getting this timestamp error  , please can someone guide me on this ,

`2022-03-22 15:21:05,494 [1;

[2022-03-22 15:39] tchiotludo commented on #1055
I'm a noob on protobuf but the implementation is talking about that [here](https://github.com/tchiotludo/akhq/pull/529)

[2022-03-23 09:36] hari819 commented on #1055
i will try to dig more on this , but would like to know what value to pass here into "value schema" field while pushing data into topic ,
![image](https://user-images.githubusercontent.com/12997071/159668548-759c0eb2-1d47-4eab-a1b0-e1af976b7035.png)

please could you help me on this,

[2022-03-23 12:45] hari819 commented on #852
@ankurjains  , please could you share how did you resolve the error related to protobuf configuration,

[2022-03-24 19:28] Zewenaco commented on #1035
You should be able to reproduce with a local kafka server, you could publish a topic like this:
[code]
And when you execute the consumer:
[code]
yo should be able to see something like:
[code]

And there you go, a tombstone record.

Now if you listen that server with akhq, when you list the records per topic you'll receive an error with the message of `Error for Consume with options {}`

I hope yo

[2022-03-24 19:29] Zewenaco commented on #1035
By the way, I used this versión of Kafka https://www.apache.org/dyn/closer.cgi?path=/kafka/3.1.0/kafka-3.1.0-src.tgz

[2022-03-26 17:17] #1037 closed

[2022-03-28 09:43] wilkejo opened #1058 "Is it possible to configure JSON Logging for AKHQ?"
Hey,

Is there an option / possibility to configure JSON Logging for AKHQ?
Our Logging Infrastructure is configured to handle JSON Logs as best.

Thank you

[2022-03-30 06:38] rbr101 commented on #1030
Hi,

I'm having maybe the same error, this has to do with openshift routes and user authorisation.
The AKHQ web interfaced is exposed using an openshift route. When adding or viewing topics and other stuff i get:

[code]

Now the docs mention this: https://akhq.io/docs/configuration/authentifications/header.html
But how to configure this for use in openshift ?

[2022-03-30 11:28] rbr101 commented on #1030
Ok, i found this was related to strimzi KAFKA setting:
The authentication.type: tls was missing
[code]

[2022-03-30 15:38] danielhass opened #1061 "Optimize Helm Chart for JWT Secret setting"
Dear AKHQ-Maintainers,

first of all, thanks for this awesome project and keep up the great work!

We are running AKHQ on Kubernetes using the projects Helm-Chart. In the default configuration, the application uses the default JWT secret to sign tokens. This flaw is also written to the application start-up log.

Changing the JWT secret is described in the AKHQ docs: https://akhq.io/docs/configurat

[2022-04-13 10:48] radovanbabic commented on #917
I completely agree, it would be very convenient as it is causing problems and exceptions too. Maybe add option to switch the coloring off.

[2022-04-13 11:05] tchiotludo commented on #917
PR are welcome on that, it's a simple Logback configuration, this one can be merge with
- [that discussion](https://github.com/tchiotludo/akhq/discussions/1060#discussioncomment-2501495)
- https://github.com/tchiotludo/akhq/issues/91

[2022-04-15 15:37] dstrivelli opened #1071 "Allow upload of Connector JSON into AKHQ UI"
Hello @tchiotludo and community:

We are working on identifying strengths/weaknesses of AKHQ over Confluent's Control Center platform. So far, we are huge fans of AKHQ and have been really enjoying using it to manage our Kafka cluster.

In Confluent Control Center, the user is able to upload a connector JSON file, which then gets put into the forms for review, etc.

Is this a feature that AKHQ can

[2022-04-15 15:42] tchiotludo commented on #1071
Hey @dstrivelli,
Thanks for the compliment, really appreciate.

This seems to be feasible and only need front office modification.
PR are welcome.

[2022-04-19 07:25] neoscaler opened #1072 "Sending tombstones with 'Produce to topic'"
We can't produce valid tombstones using the 'Produce to topic' functionality. I tried already leaving the value empty or using 'null'. As far as I interpret the code at https://github.com/tchiotludo/akhq/blob/40f90041ca71c186a4dc37669a25ec05da1a4b9f/client/src/containers/Topic/TopicProduce/TopicProduce.jsx#L173, the value is simply used as string, so you can't create a valid tombstone with a null

[2022-04-19 08:10] tchiotludo commented on #1072
Seems that we simply need to add a GUI options to produce tombstone.
PR are welcome

[2022-04-19 16:09] vis08 opened #1073 "Multiple Search values of a topic data isn't working"
Running on akhq 0.20.0

Topic Data Lookup isn't working. Multi search criteria on a topic data is not working as expected. Search is performing an OR instead of AND.

Example: Trying to lookup for the messages having the values  "CusId": "12345678"  "action": "DISABLED" isn't returning intended data, instead returning all the messages.

This capabilities used to work and exist in older version of

[2022-04-19 16:10] vis08 commented on #1073
![Uploading Screenshot 2022-04-19 at 9.33.17 PM.png…]()

[2022-04-19 17:20] saimounima opened #1074 "Add read only access to some topics and read delete update access to some topics for a group"
We have a requirement to configure read only access for some topics A, B, C and read delete update access for some topics D,E,F for a group xyz.

Is there a possibility to do such configuration? Any inputs on this would be helpful.

Existing configuration for the xyz group has some topics read delete access, need to configure read only access for remaining  topics other than mentioned in the topic

[2022-04-19 18:53] tchiotludo commented on #1074
I think it's not possible right now, this PR : https://github.com/tchiotludo/akhq/pull/964 will handle it, but there is an hard work to terminate

[2022-04-19 19:17] neoscaler commented on #1072
Working on a PR.

[2022-04-20 19:34] #938 closed

[2022-04-20 19:39] #911 closed

[2022-04-20 19:44] #790 closed

[2022-04-20 19:47] #1072 closed

[2022-04-21 14:54] mmatviienko opened #1077 "Avro deserialisation without registry is not working"
I'm trying to configure Avro deserialisation without having a schema registry like it is implemented in https://github.com/tchiotludo/akhq/pull/843
However, it seems it does not work. I can see that avro folder with schemas are in the container, but on UI the message is still shows as encoded and I can't select my schemas when trying to publish to the topic.

here is my docker-compose
`version: '3

[2022-04-24 10:47] aleksgj opened #1078 "Timeout of describeLogDirs on Confluent Cloud"
We are using AKHQ (v0.20.0) with a dedicated cluster on Confluent Cloud. Last week we started gettting timeout errors when loading the topic list in AKHQ, with the following log message in the log:

[code]

I have tried to increase timeout values in the Kafka configuration, but that only seems to delay the issue.

After searching I found issue #111 where error handling was implemented for "regular

[2022-04-26 07:58] MilkyWay-core commented on #1055
got the same problem

[2022-04-26 14:29] MatteoJoliveau opened #1080 "Push images to GitHub Container Registry"
[As you may know](https://docs.docker.com/docker-hub/download-rate-limit/), Docker Hub imposes severe rate limits on unauthenticated and free accounts. These limits can cause severe downtimes in environments without a paying Docker Hub subscription.

Adding a second container registry like [ghcr.io](https://ghcr.io), which is free and already included with this GitHub repo, would allow users to ch

[2022-04-26 14:30] tchiotludo commented on #1080
hey @MatteoJoliveau,
No problems for me, this make sense, PR are welcome :+1:

[2022-04-26 14:41] #1080 closed

[2022-04-26 14:55] MatteoJoliveau commented on #1080
It worked 😄
https://github.com/tchiotludo/akhq/pkgs/container/akhq

[2022-04-26 19:58] tchiotludo commented on #1078
The better will be to add a configuration for that at the cluster level like `skip-last-record` or `skip-consumer-groups` that prevent the log dir call like the `AuthorizationException`.

PR are welcome

[2022-04-27 07:23] javier-torres opened #1084 "ADD Cluster and TransactionalID ACLs to AKHQ Dashboard ACLs Info"
Hello,

We are delighted with the work done by AKHQ, we have been using it for some time in our organization and it is wonderful.

The main reason why we decided to use AKHQ and not another Kafka Web UI was because you can see the ACLs.

Today, we are working with MSK and Confluent tools like ksqlDB Server, Schema Registry and Kafka Connect and we are extending our ACLs a lot, we came across limit

[2022-04-28 19:52] sergey-morenets opened #1085 "Failed to use Docker image"
Hi

I tried to use AKHQ in the Docker Compose configuration:

[code]

I specified "kafka:9092" as Bootstrap server. However when I reviewed AKHQ logs I noticed that it used localhost instead:

`[AdminClient clientId=adminclient-1] Connection to node 1 (localhost/127.0.0.1:9092) could not be established. Broker may not be available.`

And AKHQ failed to perform any of the management operations from

[2022-04-28 20:00] tchiotludo commented on #1085
Here is a kafka config that work both for container or from host :

[code]

[2022-04-28 20:35] sergey-morenets commented on #1085
@tchiotludo Thank you for the quick response. Please note that I don't use Zookeeper. It's mentioned in the Kafka config:

`      KAFKA_PROCESS_ROLES: 'broker,controller'`

So is it possible to use AKHQ with Kafka but without Zookeeper?

[2022-04-28 20:37] tchiotludo commented on #1085
Never tried by myself, but I don't have any dependencies with zookeeper so I pretty sure that yes you can use Kraft with AKHQ

[2022-04-30 09:35] sergey-morenets commented on #1085
Hi @tchiotludo

I performed deep investigation of this issue and found the reason why Akhq client failed to work with Kafka.
So if I use this environment setting for Kafka container then Akhq works without issues:

`KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:9092'`

But If add PLAINTEXT_HOST attribute:

`KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092`

then

[2022-05-01 12:08] tchiotludo commented on #1085
here is a working docker compose without zookeeper:
[code]
Since i don't know what image you are using, I provide one from strimzy

[2022-05-01 20:46] tooptoop4 opened #1086 "when is the next release?"

[2022-05-07 06:11] 1063238280 opened #1089 "IAMClientCallbackHandler could not be found"
my configure:
...
        properties:
          bootstrap.servers: ***:9098
          security.protocol: SASL_SSL
          sasl.mechanism: AWS_MSK_IAM
          sasl.jaas.config: software.amazon.msk.auth.iam.IAMLoginModule required awsDebugCreds=true;
          sasl.client.callback.handler.class: software.amazon.msk.auth.iam.IAMClientCallbackHandler
          ssl.truststore.location: ${JAVA_HOME}

[2022-05-08 15:52] 10xtechie commented on #1051
Hello @tchiotludo & @bartektartanus,
If this issue #1051 is still relevant I would like to take on it. So, please assign it to me.

[2022-05-15 20:04] tchiotludo commented on #1089
It must be ok on last release : https://github.com/tchiotludo/akhq/releases/tag/0.21.0

Reopen if not please

[2022-05-15 20:04] #1089 closed

[2022-05-15 20:06] tchiotludo commented on #1084
don't seems complicated, als o like this one : https://github.com/tchiotludo/akhq/issues/266

PR are welcome :+1:

[2022-05-15 20:08] tchiotludo commented on #1077
@bgranvea, maybe you could help here ?

[2022-05-15 20:08] tchiotludo commented on #1073
Must be ok on last release : https://github.com/tchiotludo/akhq/releases/tag/0.21.0

Can you try and reopen if not please ?

[2022-05-15 20:08] #1073 closed

[2022-05-15 20:10] #1085 closed

[2022-05-15 20:11] #1041 closed

[2022-05-15 20:12] #1040 closed

[2022-05-15 20:12] #1030 closed

[2022-05-15 20:14] tchiotludo commented on #1047
since you use ldap group, do you have also created the ldap group in akhq `akhq.security.groups` (with good roles), I don't think so as I see

[2022-05-15 20:15] tchiotludo commented on #1055
The PR is here: https://github.com/tchiotludo/akhq/pull/543 but won't merged due to conflict, PR are welcome

[2022-05-15 20:16] #1074 closed

[2022-05-15 20:18] tchiotludo commented on #1035
Can you try with last version please : https://github.com/tchiotludo/akhq/releases/tag/0.21.0 and reopen if it's still not work ?

[2022-05-15 20:18] #1035 closed

[2022-05-15 20:42] tchiotludo commented on #1032
Can you try with last version please : https://github.com/tchiotludo/akhq/releases/tag/0.21.0 and reopen if it's still not work ?

[2022-05-15 20:42] #1032 closed

[2022-05-16 07:32] bgranvea commented on #1077
I've tested your docker-compose (just replaced the schema with my own avsc) and the message is displayed decoded.

My guess is that you don't produce the message in the "raw avro" format as it is intended here. See documentation https://akhq.io/docs/configuration/avro.html and an example in https://github.com/tchiotludo/akhq/blob/dev/src/test/java/org/akhq/utils/AvroToJsonDeserializerTest.java (me

[2022-05-17 00:12] 10xtechie commented on #1051
Hello @tchiotludo & @bartektartanus,
Thanks for assigning this issue to me!
What I have found so far is, the number of topics per page is set by a server's or application's environment variable; named `akhq.pagination.page-size`, of which the default value is set to 25 (see line #6 application.yml and line #67 of TopicController.java). Also, there is no RESTFul api defined in TopicController.java

[2022-05-17 05:01] tchiotludo commented on #1077
Make sense, PR are welcome on that in order to display the raw Avro schema in the produce drop-down and to publish with raw Avro

[2022-05-18 10:14] lostiniceland commented on #230
I am seeing this error on the latest 0.21.0 release.
Trying to produce data to a topic (which exists and is visible in the UI...so the Kafka connection must work) and getting `"Internal Server Error: Missing required configuration \"bootstrap.servers\" which has no default value."`

[2022-05-18 10:19] tchiotludo commented on #230
can you provide the full stacktrace ? seems to be weird

[2022-05-18 12:49] lostiniceland commented on #230
[code]

[2022-05-18 12:52] tchiotludo commented on #230
I'am unable to reproduce the issue, can you create a fresh issue with all the details please?

[2022-05-19 08:08] lostiniceland commented on #230
Damn...my mistake was that I had a typo in the cluster-name of the api path. Of course it looked for a configured cluster which was not configured.
Should I open another issue: I would suggest you return a 404 if the cluster path doesnt exist in Akhq config

[2022-05-19 10:55] lostiniceland opened #1094 "API: return 404 when cluster not configured"
Currently, when trying to access the API with a wrong (not configred cluster-name), an Exception will be thrown and 500 is returned.

http://localhost:8080/akhq/api/BROKEN/topic/foo/data
`"Internal Server Error: Missing required configuration \"bootstrap.servers\" which has no default value."`

The API handling will silently accept the given cluster-name and forward the request to the Kafka client

[2022-05-19 20:57] ant0nk opened #1095 "String index out of range 0"
Can't start akhq. Tried in Windows and in Ubuntu under WSL, my config file and example from github - same result. Java version - openjdk version "11.0.13" 2021-10-19 in Ubuntu and openjdk version "16.0.1" 2021-04-20 in Windows
Starting it with `java -Dmicronaut.config.files=/opt/akhq/application.example.yml -jar akhq-0.21.0-all.jar`
Full output is:
[code]

[2022-05-20 04:14] rdrck47 commented on #1094
Hi, I want to contribute my good first issue. Can I start working on this?

[2022-05-20 04:42] tchiotludo commented on #1094
For sure 😊

[2022-05-20 10:02] kosksq opened #1097 "Readiness probe failed: HTTP probe failed with statuscode: 409"
Hi community,

Does anyone have an idea on this issue? I can't properly debug because it shows this error everytime i import my yaml. Especially it happen after i fill in existingSecrets: "". Also, want to ask if there is a solution to type more than one existingSecrets? As i need to import cluster ca cert and user cert.
![image](https://user-images.githubusercontent.com/74179948/169504744-00dddfc

[2022-05-22 15:11] 10xtechie commented on #1084
@tchiotludo
I totally agree with you that these features don't seem to be complicated to be implemented - especially ACLs at Cluster level. There is no api code for ACLs at TransactionalID level though.
I have started looking into it, however, I am getting `'No ACLS found, or the "authorizer.class.name" parameter is not configured on the cluster.'` . I have set up my development environment using

[2022-05-22 19:10] tchiotludo commented on #1084
@10xtechie:
You only need to add some acls to the cluster first:
[code]
After you will see some acls on the ui.
The ticket is for you ;)

[2022-05-24 06:58] juliangovender opened #1098 "subject does not have subject-level compatibility configured"
Hi,

I am seeing errors in my schema-registry kubernetes pod when I use AKHQ to access my schema registry:
`io.confluent.rest.exceptions.RestNotFoundException: Subject [] does not have subject-level compatibility configured`

The schemas still load correctly in the UI and there are no errors on the UI / akhq pod, only on the schema registry pod when accessed by akhq. When accessed by my backend, I

[2022-05-24 16:13] QualoZe0t opened #1099 "unable to use secrets using by micronaut basic authentification"
Hi,

I would like to use as final solution aws external secret manager where will be stored username and password and using micronaut for basic authentification. Problem is that i have created test opaque kube secrets.. example
`kubectl create secret generic akhq-secrets --from-literal=username:user --from-literal=password=testP@ssword`

values.yaml

[code]

unfortunately once i will execute helm

[2022-05-25 08:43] tchiotludo commented on #1098
Can you try with last version ? 0.21.0 please ?

[2022-05-25 20:18] baganokodo opened #1101 "Consumer group with slash crashed the ui"
Hi,

I suspect this issue is caused by special chars like "/" and ":" in our consumer group names. Could you confirm that special chars are not accepted in consumer group names?

sample consumer groups, "data/data-serving:forwarder", "local_test/hostname.local"

Thanks

[2022-05-25 20:39] tchiotludo commented on #1101
can you send a screenshot please?

[2022-05-25 21:19] baganokodo commented on #1101
Thanks @tchiotludo for the quick response. I feel it quickly popped a red error banner, and the entire page was gone instantaneously. I checked the AKHQ log, nothing special, no errors. The web page is totally blank, it is black mostly like because the chrome theme I selected. Page source only shows some Javascript references.

Thanks

[2022-05-26 05:12] tchiotludo commented on #1101
It's seems that there is an hard JavaScript error, can you provide the error from JavaScript console from chrome ?

[2022-05-26 07:14] juliangovender commented on #1098
Thanks for getting back to me. I'm still experiencing the same issue on 0.21.0

[2022-05-26 07:20] #1097 closed

[2022-05-26 16:27] tchiotludo commented on #1097
@kosksq don't understand, you have a solution ?
I don't have the time to look at

[2022-05-26 19:45] #1084 closed

[2022-05-26 20:01] #1094 closed

[2022-05-26 20:21] #1098 closed

[2022-05-26 20:21] tchiotludo commented on #1098
Looking at quickly, the pr [here](https://github.com/tchiotludo/akhq/pull/765) only remove the error from akhq but still send the query without `defaultToGlobal`
I've made a try, you can try with dev version

[2022-05-26 20:24] tchiotludo commented on #1051
IMO: The better will be to change the `akhq.pagination.page-size` to `akhq.pagination.max-page-size` and to control it on the server side and allow any value from the ui side

[2022-05-26 20:49] baganokodo commented on #1101
![Screen Shot 2022-05-26 at 1 49 11 PM](https://user-images.githubusercontent.com/78040512/170577718-2d43780a-e221-4a94-9513-420d23027180.png)
thanks a lot

[2022-05-26 22:51] baganokodo commented on #1101
found a good sample on URL encoder, https://www.baeldung.com/java-url-encoding-decoding, I will try to make a PR
thanks very much

[2022-05-27 08:15] juliangovender commented on #1098
Thanks a lot @tchiotludo, that fixed it! 🎉

[2022-05-27 10:46] kosksq opened #1105 "AKHQ connect to KEYCLOAK roles mapping"
Hi all, I currently face an OIDC connection issue, sign in with KEYCLOAK and get the roles mapping to AKHQ.
"roles": [
"admin"
],
"name": "xxx",
"preferred_username": "Test name",
"given_name": "xxx",
"family_name": "xxx",
For the access token, I have added the "admin" role to this user but it cannot be read by the AKHQ as I saw the roles are still the default group.
![image](https://user-images.g

[2022-05-28 19:07] IsaacNoga commented on #1006
Hi, i will like to know if it's possible to get this issue assigned :>

[2022-05-28 19:09] tchiotludo commented on #1006
done @IsaacNoga enjoy ;)

[2022-05-30 03:00] 10xtechie commented on #1051
@tchiotludo
I agree: server's default page size `akhq.pagination.max-page-size`  will be the UI's default page size - for the first time the page is loaded. Thereafter, the page size will be controlled by the UI's page size dropdown field. I have completed the development creating a new React component name PageSize, so that this component can be plugged on a page along with pagination component.

[2022-05-30 05:45] juliangovender commented on #1098
Hi @tchiotludo, do you perhaps have an idea of when a new docker image will be ready with this fix?

[2022-05-30 06:59] tchiotludo commented on #1051
For the units test, you can runit with `./gradlew tests`, it will spawn a temporary kafka cluster and no need to use docker for that.
Or simply create the PR and let the CI/CD do the test for you :smile:

[2022-05-30 07:06] tchiotludo commented on #1098
@juliangovender you can use the [dev](https://akhq.io/docs/dev.html#early-dev-image) image that is already available

[2022-05-30 22:31] ls50800977 opened #1107 "ACL for the user used by akhq to connect to kafka"
Hi,

Is there any recommendation on what ACLs are required for the user used by akhq to connect to kafka?

I have the below in place which works fine but I don't see "schema registry" and "connects" on the left panel of akhq, I guess I may be missing some permissions.

Can you please advise? Thanks.

apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaUser
metadata:
  name: akhq
  labels:
    strimzi.

[2022-06-01 06:49] javier-torres commented on #1084
Hello,

I just updated AKHQ to the latest version 0.21.0 to display the ACLs at Cluster and TransactionalID level but I can't see it in my UI

![imagen](https://user-images.githubusercontent.com/59615952/171344613-6a8d3bc8-9264-47a4-abc6-f141633909dd.png)

[2022-06-06 05:48] moremagic opened #1112 "Unable to view topic list when using MSK Serverless"
# Overview

When using MSK Serverless, the following error occurs when viewing the topic list
![image](https://user-images.githubusercontent.com/79543/172102518-c86d0faf-a54a-4785-ae53-b34bab92d241.png)

Below is the error log.

[code]

# Reference

### Amazon MSK Serverless
https://aws.amazon.com/jp/msk/features/msk-serverless/

[2022-06-06 06:13] #1112 closed

[2022-06-09 14:00] javier-torres opened #1115 "Show Pattern Type Filter in ACLs Panel Information for: Topics, Groups, Clusters and Transactional IDs"
Hi,

We have working with AKHQ several months and we are very happy with the application, it´s fantastic!!

As we are using it every, we have been findind several little things to improve. Recently we have open and issue to show more information in ACLs panel how are: Cluster and TransactionalID. Now we believe that it would be quite interesting to show information for Pattern Type Filter in each

[2022-06-09 14:08] javier-torres opened #1116 "Hidden Credentials for Kafka Connectors"
Hi,

We have working with AKHQ several months and we are very happy with the application, it´s fantastic!!

As we are using it every, we have been findind several little things to improve. Now, we are working with Kafka-Connect and creating multiples connector for differents purposes. When you access to connector configuration, you can see the passwords are displayed in plain text. We have vision

[2022-06-12 17:27] eddyv commented on #1116
Hey! I'd recommend taking a look at adding a secrets' provider to your kafka connect instance. It'd be a more complete solution to prevent kafka connect from exposing those details via the rest api as opposed to only masking it in AKHQ.

Lenses offers a few open source ones that you can find [here](https://docs.lenses.io/5.0/integrations/connectors/secret-providers/)

[2022-06-13 07:06] tchiotludo commented on #1115
it's will be nice, PR are welcome :)

[2022-06-15 09:19] jheinitz commented on #1115
Hello!

Nice idea, but I'm just wondering why my ACLS screen for a given user only contains the tabs "Topics" and "Groups", but no "Cluster" and "Transactional Ids". Did you fake the screenshot or do I need to grant permissions for the user/group to see these acls? By the way, I'm using 0.21.0

Kind regards

Jens

[2022-06-15 09:26] tchiotludo commented on #1115
it's not release for now, you need to use the `dev` version for now

[2022-06-15 21:39] Macabrabits commented on #775
Still not working

[2022-06-16 07:04] tchiotludo commented on #775
What version of AKHQ and helm charts ?

[2022-06-17 06:16] diyfr opened #1121 "CORS error on manifest.json behind oauth2-proxy"
When I use AKHQ behind oauth2-proxy which handles authentication, it sets a cookie.
With this cookie, requests are forwarded to the AKHQ server.
Everything works fine, except for the `manifest.json`, where the browser doesn't send the cookie and you end up with an error (CORS).

The solution is to add the `crossorigin="use-credentials"` attribute to the <link> tag:
[code]
Documentation :
[crossori

[2022-06-17 06:22] javier-torres commented on #1116
Hey @eddyv, it is a nice tool which we will try, but nevertheless, it would not hurt to encrypt the credentials data in plain text as other tools like Kafka UI do.

![imagen](https://user-images.githubusercontent.com/59615952/174237589-428b7e9a-f5f3-4d5f-96a4-f0473d7f1cbe.png)

Thank you

[2022-06-17 06:29] tchiotludo commented on #1121
Good catch, PR are welcome 🙏

[2022-06-19 17:30] marcellorego opened #1122 "Float/Double fields are not serialized when containing Integer/Long values."
I have a AVRO schema where a field is defined as an UNION of `double` or `null` types and default value is `null`.

[code]
But when I try to produce data into related topic (using correctly the Value schema definition), and data field contains an integer/long value instead of a float/double, serialization fails.

Data sample:
[code]

Below you can find part of the stack trace.

[code]

[2022-06-19 17:41] marcellorego commented on #1122
https://github.com/tchiotludo/akhq/pull/1123

[2022-06-19 18:16] #1122 closed

[2022-06-19 21:45] 10xtechie commented on #1115
@tchiotludo , @javier-torres ,
Is my understanding correct that a filter for _**Patter Type**_ needs to be add to each table under: **Topics**, **Groups**, **Clusters**, **Transactional Id** ?
If so, there seems to be quite a bit of work involved for this issue. However, I would be happy to take this on :)

[2022-06-20 07:04] tchiotludo commented on #1115
I understand the same @10xtechie, I assign you the issue, Thanks :+1:

[2022-06-20 11:14] 10xtechie commented on #1115
@tchiotludo, @javier-torres,
Thanks for your replies!! Could you please provide me with sample/dummy data and some instructions on how to populate Kafka with those data? It would be helpful to test the feature while developing it :)

[2022-06-20 19:44] tchiotludo commented on #1116
duplicate #505

[2022-06-20 19:44] #1116 closed

[2022-06-21 07:08] cpflaume opened #1124 "Github SSO / OAuth2 support"
Hello,

I was wondering if akhq has or plans to support oauth2 too. From my understanding only the better specified OIDC is supported.

I would like to connect akhq with Github SSO (Github OAuth App). There is currently no way to do this or am I missing something? Other than using an oauth security proxy in front of akhq?

Looking at the Micronaut documentation my guess is that supporting OAuth2 w

[2022-06-21 07:11] tchiotludo commented on #1124
Hey,

it's true, someone need to implement a Oauth2 mapper inside akhq.
PR are welcome :tada:

Closing since duplicate of #990

[2022-06-21 12:15] Ishan317 commented on #960
Hi.. I am new in open source and I would like to work on this

[2022-06-21 12:16] tchiotludo commented on #960
Sorry this one is done here : https://github.com/tchiotludo/akhq/pull/971

Forgot to close the issues.
You way have a lot of others one with labels `good first issues`

[2022-06-21 12:19] Ishan317 commented on #960
ok I will look for another issues,, thanks

[2022-06-22 01:27] recordsbeat opened #1126 "Question about kafka connect creating definition error"
Hello.
I'm kinda newbie of this and facing error when I get into kafka connect -> Create a definition Menu

![image](https://user-images.githubusercontent.com/51354965/174923069-479e21ed-8fc9-4a9d-80da-6a87539c0bb0.png)

I assume that It's because of I'm using Debezium connector, so application can't find 'connection.url' as normal kafka connector has ...?

I was trying to find a part where 'conne

[2022-06-22 06:02] tchiotludo commented on #1126
The popup with warn appear when ?
- Just on loading the create definition ?
- When you choose the debezium connector ?

[2022-06-22 06:46] recordsbeat commented on #1126
oh my bad. It doesn't look like debezium problem.

Just on loading the create definition ? -> yes

I tested the same way in local env (clicking Create Definition)
and kafka-connect logs like

`
[2022-06-22 06:40:44,356] ERROR Uncaught exception in REST call to /connector-plugins/io.confluent.connect.jdbc.JdbcSourceConnector/config/validate (org.apache.kafka.connect.runtime.rest.errors.ConnectExcep

[2022-06-22 07:10] recordsbeat commented on #1126
looks it always requests with
`io.confluent.connect.jdbc.JdbcSourceConnector` when it needs to call `PUT /connector-plugins/(string:name)/config/validate` . should it be a bug report ?

[2022-06-22 14:17] jnickels commented on #777
Is there any plan for this or is it abandoned?

[2022-06-23 17:01] Art-master opened #1127 "Question: Is AKHQ for Kafka 3.0 version available?"
Hi @tchiotludo !
Kafka 3.0 is available, it does not use Zookeeper. Can I use AKHQ with this version of Kafka?
As far as I know, AKHQ rely on ZooKeeper and I cannot install it without ZooKeeper.
Or do you plan to upgrade to support new versions of Kafka?

[2022-06-24 05:00] tu170591 commented on #583
Dear , I want to allow all domain
ex: ".*@gmail.com"
How to allow all ? Pleases , Thank you

[2022-06-24 06:11] tchiotludo commented on #583
Just provide a `default-group` and no `users` array and it will work

[2022-06-24 10:08] royleochan opened #1129 "Wrong beginning offset returned resulting in data of length 0"
Hello, firstly thank you for this great tool.

Problem: I am facing an issue where the data returned from a topic is empty even though the topic has data.

Setup: Downloaded standalone jar with configured yml file.

I have tried investigating by setting the log to trace and found that it is because during consumption, the offsets are set to the latest for each partition in the topic. However from

[2022-06-24 12:44] mahauke opened #1131 "Connection timeout to schema registry"
Hi,

we are using AKHQ 0.20.0 as developer tool for Strimzi Kafka in Kubernetes with a Confluent Schema Registry 6.2.2 also hosted in Kubernetes.

We currently encounter issues using the "Schema Registry" part of AKHQ, since we get an empty error message in the UI after a long time of loading. I digged into the logs and found the following error is related to this behavior:

[code]

The schemaregi

[2022-06-26 19:11] #1115 closed

[2022-06-27 22:29] amoravek commented on #1126
I have exactly the same problem. It started after installing the confluentinc-kafka-connect-jdbc-10.5.0 (by copying it into /usr/share/java/confluentinc-kafka-connect-jdbc folder. I am using the Kafka Connect 7.1.1 with Java:

openjdk version "11.0.15" 2022-04-19 LTS
OpenJDK Runtime Environment Zulu11.56+19-CA (build 11.0.15+10-LTS)
OpenJDK 64-Bit Server VM Zulu11.56+19-CA (build 11.0.15+10-LTS, m

[2022-06-29 12:22] doxsch opened #1132 "Multiple CVEs when scanning docker image"
Hi,

We use the [tchiotludo/akhq](https://hub.docker.com/r/tchiotludo/akhq) docker images which we scan.
We found multiple CVEs with an available patch.

Could this issue be addressed?

AKHQ version: 0.21.0

Vulnerability | Title | PkgName | InstalledVersion | FixedVersion
-- | -- | -- | -- | --
CVE-2022-29155 | openldap: OpenLDAP SQL injection | libldap-common | 2.4.57+dfsg-3 | 2.4.57+dfsg-3+deb1

[2022-06-29 18:20] tchiotludo commented on #1132
Hey @doxsch, PR are welcome on that !

[2022-07-01 06:49] jheinitz commented on #801
Good morning,

is there any news on this one? As some kind of workaround might it be possible to increase the timeout?

Thanks ad best regards

Jens

[2022-07-01 07:10] tchiotludo commented on #801
You can raise the timeout of the using this configuration :
[code]

[2022-07-01 08:39] alexwang19930101 commented on #1126
You can change confluentinc-kafka-connect-jdbc-10.5.0 to confluentinc-kafka-connect-jdbc-10.3.3 , it works for me.  that may because conluentinc change jdbc-connect  validate rules.
But the jdbc connector task may start failed for other configuration have no default value like "topic.creation.default.replication.factor"/"topic.creation.default.partitions"

[2022-07-01 10:55] jheinitz commented on #801
Hi!

Thanks for the hint. That works fine. I played around a bit and figured out that the `access-token-expiration` can be omitted. The other `access-token:` and `expiration:` is sufficient.

BR Jens

[2022-07-03 18:20] #1132 closed

[2022-07-04 07:25] jheinitz opened #1138 "Show Real IP in org.akhq.log.access"
Hello,

I tried to manipulate the logging behavior of the `org.akhq.log.access`  shows the real client's browser IP instead of the nginx reverse proxy IP, but it seems that the `org.akha.log.access`cannot be changed. After that I activated the micronaut access logger and war able to get the real IP in the log. The drawback is that the user is not shown in the micronaut access log.

Log from org.ak

[2022-07-05 03:54] rdrck47 commented on #1101
Hello! Is anyone working on this? I would like to take this issue!

[2022-07-05 04:55] tchiotludo commented on #1101
No one is one it, it's assign to you 👍

[2022-07-05 08:18] amccague opened #1139 "Unable to view schema/topics if one Schema Registry subject does not have subject-level compatibility set (0.21.0)"
This appears to be related to https://github.com/tchiotludo/akhq/issues/785

Using 0.21.0 against confluent cloud, and potentially this is specific to using schema contexts I get this error when looking to view schemas or produce to a topic:

[code]

When setting the compatibility explicitly on the subject it works as expected.

[2022-07-05 08:28] amccague opened #1140 "Serialising Avro unions"
For the given schema:
[code]

When producing:
[code]

This is what is produced:
[code]
Which is presumably type A as it matches that union first (due to the default boolean)?

If I try to produce:
[code]
Which I understand is the avro supported method (but please correct me if I'm wrong), I get the following error:
[code]

- If more than one branch of a union is compatible then an ambiguity except

[2022-07-05 13:47] arnaud-ly opened #1141 "Constant memory usage increase"
Hello,

I'm a young developer so sorry if I don't have the usual reflex, I will try to contribute at the best of my abilities.
Basically I'm running AKHQ at the 0.21 version and often the application start to slow down because of OOM errors. So i have to manually stop the task.The memory usage seems to have an ascending stair shape so it nearly never deallocate or maybe it allocates too much.
I do

[2022-07-05 13:56] tchiotludo commented on #1141
Humm, really strange, I have multiple instance with this version with no memory leak.

The only way to understand is to do a memory dump, maybe try with VisualVM or JDK Mission Control and share the result ?

[2022-07-05 15:17] arnaud-ly commented on #1141
Hello,
Here is the dump. Sorry it's to heavy to be attached on the comment.
https://we.tl/t-1eGDd1eXmC

Thanks for your help

[2022-07-06 08:48] tchiotludo commented on #1141
nice thanks :)

[2022-07-06 13:00] hbairagi8 opened #1142 "Not able to see any Topics list on UI pages"
I seem to be having an issue with Kafka broker and topic information in the GUI. I can see nodes and topics associated with it, but can't see topics list info in the GUI?
while checking the cluster from GUI it is saying No data available.
Attaching the images and YAML files(both of these having some dummy values in them, due to confidentiality with the details)
Figure 1 - shows the error
Figure 2

[2022-07-07 20:09] #1101 closed

[2022-07-08 08:34] ericmagna opened #1145 "API : Disabled"
Hello,

I'm trying to disable the API function without success (https://akhq.io/docs/api.html).

Can you explain how I can disable access to the API?

Thanking you for your help

[2022-07-08 08:43] tchiotludo commented on #1145
Hello,

You just can disabled it, since all the api is used by the front office.
If you disabled it, akhq doesn't work any more

[2022-07-08 08:43] #1145 closed

[2022-07-08 14:51] neoscaler commented on #1006
Experiencing the same problems. Any progress in fixing it, @IsaacNoga ?

[2022-07-11 09:50] wilkejo opened #1146 "Null Error after login to AKHQ 0.21.0"
Hey,

I experience an issue right after login to AKHQ in version 0.21.0. I have permission to view all topics and get an `null` error.
AKHQ shows that I have ~20 pages of topics. Some topics are quite large around 7 or 8 GB of data.

This is the screenshot

![akhq-error](https://user-images.githubusercontent.com/30616959/178237768-fccedc9b-b1a9-472a-903d-3c79de16c32c.jpg)

As you can see I have to

[2022-07-11 09:59] wilkejo opened #1147 "java.lang.RuntimeException: Error for Consume with options {}"
Hey,

an error occurs for me when I try to read topic data from a topic with ≈ 34065151 messages and a size of 7.573 GB

I get this error. Any ideas?

[code]

[2022-07-11 23:52] amoravek commented on #1126
Thank you, but with 10.3.3, another error occurs:

`2022-07-11 23:50:10,087 [1;31mERROR[0;39m [35mr-thread-1[0;39m [36mo.a.c.ErrorController     [0;39m null
java.lang.NullPointerException: null
	at org.akhq.modules.KafkaModule.lambda$getConnectRestClient$6(KafkaModule.java:249)
	at java.base/java.util.ArrayList.forEach(ArrayList.java:1541)
	at org.akhq.modules.KafkaModule.getConnectRestClien

[2022-07-12 11:58] vutkin opened #1148 "BUG: Error instantiating bean of type [io.micronaut.security.oauth2.client.DefaultOpenIdProviderMetadata"
Hi all,

I've configured authN using oauth2/oidc.

Time to time I've started catch an exception like this:

io.micronaut.context.exceptions.BeanInstantiationException: Error instantiating bean of type  [io.micronaut.security.oauth2.client.DefaultOpenIdProviderMetadata]\n\nMessage: Read Timeout\nPath Taken: DefaultOpenIdProviderMetadata.openIdConfiguration(OauthClientConfiguration oauthClientConfig

[2022-07-12 12:17] vutkin commented on #1148
Logs from pod:
[code]

[2022-07-12 21:04] nico-mu opened #1150 "Unable to run helm installation"
When I try to follow the given tutorial from https://akhq.io/docs/installation.html#using-helm-repository on my local machine I get the following results. I ran the "demo" docker-compose and it worked for me but I can not seem to get this running.

OS: Windows 11
Kubernetes: Version shipped with Docker Desktop

# Setup:
1. helm repo add akhq https://akhq.io/
2. helm upgrade --install akhq akhq/akh

[2022-07-13 05:49] hbairagi8 commented on #1142
Hi,
Need some help with this issue.
URGENT

[2022-07-13 08:11] tooptoop4 opened #1151 "CVEs on v0.20"
aqua sec scan results for the docker image
i guess handlebars.js one is from frontend

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">

</head>

<body link="#0563C

[2022-07-13 16:56] vutkin commented on #662
Hey @tchiotludo , this is very bad decision, curl adds a lot of vulnerabilities for free. It brings more problem than solves.

<img width="1141" alt="image" src="https://user-images.githubusercontent.com/25753488/178788429-13ea4250-63ca-4d9d-9f2a-9707685ba35d.png">
 Thats just about curl, and there are a lot of dependencies that curl uses.

@survivant I advise you to modify pod and add another con

[2022-07-14 12:09] vutkin commented on #1151
https://github.com/tchiotludo/akhq/pull/1152

[2022-07-14 12:58] vutkin commented on #1151
yep, I can't fix them all, but could reduce their numbers.

[2022-07-15 17:33] doxsch commented on #1151
I think it would also be useful if we create a github action that rebuilds and publishes the image every x days. What do you think?

[2022-07-15 18:01] tchiotludo commented on #1151
It's possible to schedule the build on dev branch, but it wouldn't change the issue for release one that are immutable

[2022-07-16 10:13] doxsch commented on #1151
What do you mean by "that" so the tags or the state of the software? My thought was that if no release is made for a long time, at least the last release would be rebuilt and published regularly. So that a release with fairly current base image would exist. The scans often hit CVE of the base image.

[2022-07-18 11:47] vutkin commented on #1151
@doxsch he can't rebuild images with tags as they are could not be changed, rebuild only could be done with latest tags or develop.

[2022-07-19 08:00] TheShinyWolfy opened #1153 "Topic name with upper cases are not displayed in akhq"
Hello, topic names with upper cases - like "FOO_BAR_TOPIC" are not showing up in akhq.
Is it expected ? Like upper case is not a good practise in topic names.
Are is it a known bug ?
Thanks in advance.

PS: The akhq installation we use is straightforward, no custom conf, everything by default.

[2022-07-19 09:34] #1153 closed

[2022-07-20 00:14] tooptoop4 commented on #1151
@tchiotludo do u know how handlebars-v4.7.6.js is being added to the akhq.jar ?

[2022-07-20 07:42] ericmagna opened #1154 "Format access-log"
Hi,

With the file
Hello,

In the application.example.yml file I have an example for formatting the accesslog file.

I would like to add the call size.

How can I make this addition?

Thank you for your help.

**Extracting the example configuration**

[code]

[2022-07-25 12:37] AdiWehrli opened #1157 "Vulnerabilities"
Hello all,

We found some vulnerabilities in AKHQ Docker image for version 0.21.0. These are the following
VulnerabilityID	Severity	Title	PkgName	InstalledVersion	FixedVersion
CVE-2022-1292	CRITICAL	openssl: c_rehash script allows command injection	libssl1.1	1.1.1n-0+deb11u1	1.1.1n-0+deb11u2	debian 11.3
CVE-2022-2068	CRITICAL	openssl: the c_rehash script allows command injection	openssl	1.1.1n-0+d

[2022-07-26 08:55] hbairagi8 commented on #1142
Hi,
Can you please give some details here?
I have attached the logs and application file in above comment

[2022-07-26 09:06] arnaud-ly commented on #1141
Hello,

Unfortunately after a while I still have memory leaks.
I saw some internal server error sometimes when I create new topics.
Do you have any pull request related which resolve the issue ?

Regards,

Arnaud

[2022-07-26 19:51] tchiotludo commented on #1141
I don't think any PR or any ideas of the memory leak for now.
Does the #1069 is better ? maybe we can merge this one first
For the others one, we will need to have a memory dump I think.

[2022-07-26 19:53] tchiotludo commented on #1142
Nothing relevant on the logs or the configuration files.

I think your users don't have any rights on this cluster or may have a regexp that limit the topic visible.
Can you try with your users on [kcat](https://github.com/edenhill/kcat) to validate this ?

[2022-07-26 19:54] tchiotludo commented on #1157
The docker image is [self updating](https://github.com/tchiotludo/akhq/blob/dev/Dockerfile#L4-L9), can you validate that the `dev` don't have this CVE ?

[2022-07-26 19:57] tchiotludo commented on #1154
Not for now, PR are welcome

[2022-07-26 20:00] tchiotludo commented on #1151
@tooptoop4, don't know for now... this deps is not on the client npm package :thinking:

[2022-07-26 20:15] tchiotludo commented on #1148
duplicate https://github.com/tchiotludo/akhq/issues/914

[2022-07-26 20:15] #1148 closed

[2022-07-26 20:31] tchiotludo commented on #1146
It's the last record cols that raise this error.
It seems that you have a topic that akhq can't decode and failed [here](https://github.com/tchiotludo/akhq/blob/bf8c68eaba4bdba8bf865950e476eddb42f7a906/src/main/java/org/akhq/repositories/AvroWireFormatConverter.java#L39)
Maybe you can help on the topic that have this invalid data ? and provide the data ?

[2022-07-26 20:32] tchiotludo commented on #1147
duplicate this one #1146

[2022-07-26 20:32] #1147 closed

[2022-07-27 04:23] AdiWehrli commented on #1157
Yes, you're right. Maybe I should correct my question: when will a new release (0.22.0?) be available?

[2022-07-27 07:38] nomopo45 opened #1159 "Black Screen on login page"
Hello,

I just installed akhq on AWS EKS.

Everything was working fine without login but now that i enable oauth login i have a black screen when i go on the login page.
![image](https://user-images.githubusercontent.com/67263927/181189288-d2a8d919-faf9-44cd-be2b-67be8e2a8423.png)

Below are my values.yaml

[code]

[2022-07-27 09:03] wilkejo commented on #1146
Thank you for the feedback.
What exactly do you mean with last record cols. Do you mean the last record or any record?

As we have a lot of topics and even more messages I don't have an idea how to identify the topic. Would it be possible to have an error message which identifies the topic, message Id? If I know which message it is, I could check if I can provide the data.

I don't know if it is r

[2022-07-28 23:14] maxisam opened #1160 "LDAP login doesn't work"
I used the default settings as doc said here
https://akhq.io/docs/configuration/authentifications/ldap.html
to test it and it doesn't work.

And it doesn't work with my local ldap either.

Can anyone test it with the latest version 0.21.0? Thanks

[2022-07-29 06:29] #1160 closed

[2022-07-29 11:01] alozano3 commented on #1126
The problem is the JDBC connector. I opened a [PR](https://github.com/confluentinc/kafka-connect-jdbc/pull/1222) in the kafka-connect-jdbc repo to solve this issue. You can view what the poblem is inside the PR.

[2022-07-29 14:36] sam0r040 commented on #942
We are using AKHQ quite a lot and I was always annoyed by AKHQ not changing the default sorting even if I configured
the default sorting to be NEWEST. After I found this issue I choose to dig a bit around to find out what's actually going on.

My observations are based on AKHQ 0.21.1, but the git history does not look like there has changed much in that area, so
I guess it's still the same behavio

[2022-08-01 07:31] nomopo45 commented on #1159
When i curl, i have this response :

[code]

This : You need to enable JavaScript to run this app, i checked in my chrome settings javascript is enable do you know why this happen ?

[2022-08-01 07:41] nomopo45 commented on #1159
And this is the error in the console :

![image](https://user-images.githubusercontent.com/67263927/182098204-036ed60b-4b6a-4266-ad60-cfca4a146faf.png)

[2022-08-05 07:24] leesonwei opened #1162 "basic-auth sync with scram users"
Whether Basic AUTH can synchronize Scram users. The permissions of the Topic page are then synchronized to the Scram User as well. Thank you.

[2022-08-05 07:25] tchiotludo commented on #1162
Sorry I didn't understand the issues ... Can you detailed this a little bit more with examples ?

[2022-08-10 04:39] luisdalves opened #1165 "Login Page Issue with Basic Auth"
Hey guys, first of all great product!
I'm facing out some issues enabling basic-auth with the login page. After enable this feature I'm being redirected to /ui/login but there is no textbox to input username or password.
I'm running akhq on eks and was deployed using helm chart v0.2.8 and I'm doing a port-forward to reach the application.
Here is my values.yaml
[code]
Thanks for you help guys!

[2022-08-11 14:11] honza-zidek opened #1166 "Show the double click function on the UI"
When I see the list of all topics and I want to see details of a topic, I have to click on the magnifier icon on the right.
It would make much more sense if simply the whole topic line were clickable to open the topic details.

[2022-08-11 14:13] tchiotludo commented on #1166
There is an hidden (and magic) fonction, double click on the rows :tada:

[2022-08-11 14:37] tchiotludo commented on #1166
I know it's cryptic and not common, but enable on single click prevent to copy paste a name for example.
It's why I decided to good to double click that only power user (like you now :smile:) will know.
I don't have any other option if I want to keep the copy paste as I know

[2022-08-11 15:52] honza-zidek commented on #1166
sounds like a valid point.

Can you think about a way to tell users that this magic function is there? E.g. when I hover the mouse over the magnifier, there is a tooltip "Details", you may enhance the text to "Details (also double-click wherever on the whole row)", or something like this. And/or tooltip over the whole line may tell "Double-click to view details".

[2022-08-11 16:00] tchiotludo commented on #1166
I reopen to gather idea on that subject

[2022-08-12 03:42] luisdalves commented on #1165
Sorry for bother I found the issue and was related to indentation.

[2022-08-12 03:42] #1165 closed

[2022-08-12 05:55] lostiniceland commented on #56
@tchiotludo
We just moved from KafkaHQ to AKHQ and in the current version the UI filters out any header with a null value.
This is bad for analysis since we just had the case where a null header was wronly published which caused an Exception in the application. Luckily we still had the old version running  where I was able to find the problematic key.
Should I open a new issue for this? Maybe have

[2022-08-12 05:57] tchiotludo commented on #56
@lostiniceland can you provide a screenshot please ?
I don't understand exactly the issue

[2022-08-12 07:53] lostiniceland commented on #56
KafkaHQ 0.11
![grafik](https://user-images.githubusercontent.com/1516116/184309946-93037b1b-c6f4-474d-b4bb-6657918dff1a.png)

AKHA 0.21
![grafik](https://user-images.githubusercontent.com/1516116/184310027-8f6697c2-7c1a-4393-a5bc-615a4ba33548.png)

Both views show the same message (highlighted by uuid). Offset is 18.
While KafkaHq shows 19 headers including the one with null AKHQ 0.21 only shows 1

[2022-08-14 03:52] hari819 opened #1169 "unable to get oauth enabled with azure ad ,"
Hello ,

i am trying to enable oauth on akhq using azure ad in the latest version of akhq, i have followed the link [https://akhq.io/docs/configuration/authentifications/oidc.html](url)  and made changes in the values.yaml files , but i am not even able to get the login page of  azure ad , i can still see the tool is running without any authentication , it just lists all the kafka topics without a

[2022-08-14 03:56] hari819 commented on #1169
[code]

[2022-08-14 04:37] hari819 commented on #1169
i did not have any basic-auth enabled , so please could you let me know how do i first disable the UI without any login

[2022-08-14 14:19] hari819 commented on #1169
@tchiotludo  , please could you provide some hints based on the shared configuration if i am missing something ,

[2022-08-15 05:31] kyleli666 opened #1170 "User in basic-auth can only get the authorized access from one of his groups"
### Description
I have several kafka cluster A and B managed in one AKHQ.

1. I want to have all topic and consumer group read access in kafka A and B.
2. I want to add one more topic/data/read access only to kafka A, but not kafka B.
3. All kafka A's topic can match  "^Market.*"

so I feel I can impliment with this configuration in basic-auth: (admin is ommited)
[code]
### Result
But finally, I c

[2022-08-15 05:55] tchiotludo commented on #1170
You are true, the logic right now is an AND, see this one: https://github.com/tchiotludo/akhq/discussions/523.

For now, no solution for you, sorry 😔

[2022-08-15 05:55] #1170 closed

[2022-08-17 11:51] apellegr06 opened #1174 "Finer grain filtering on kafka connect attributes"
Hi,

I'm using AKHQ 0.21.0 and recently adding Kafka Connect configuration that is a useful functionnality !

I use "connects-filter-regexp" to limit the view on some tasks for some users, but currently the behaviors of this filtering is not optimal :
If at least one regexp is set, the user have the visibility on all Kafka connect clusters configured for the Kafka cluster and can create tasks on a

[2022-08-17 15:29] TouDick opened #1175 "Organize clusters vie in a tree/hierarchical structure"
Organize clusters vie in a tree/hierarchical structure to allow better organization of all nodes e.g.
TEST
 + cluster 1
 + cluster 2

INT
 + cluster 1
 + cluster 2

PROD
 + cluster 1
 + cluster 2

[2022-08-17 16:23] thomas-chauvet opened #1176 "Helm deployment: Readiness probe failed on k8s"
I have some trouble running AKHQ on k8s with the basic installation.

I just create a new namespace called `monitoring` on k8s (version `v1.21.4`).

I simply deployed the base helm chart:

[code]

I always end up with:

[code]

Maybe I don't use a good version.

Any tips on how to fix this?

Thanks!

I ran in debug mode, here are the logs:

[code]

[2022-08-17 16:24] #1176 closed, assigned to nobody

[2022-08-19 15:06] tchiotludo commented on #1157
Thanks @erikgb for the information, I don't even notice of that deprecation, nice to know!

Seeing alternative, eclipse-temurin seems to be the real alternative, [look at this issue](https://github.com/docker-library/openjdk/issues/505), every body move to this one.

PR are welcome on that!

[2022-08-19 15:49] erikgb commented on #1157
@tchiotludo Here is a PR for the switch to eclipse-temurin: https://github.com/tchiotludo/akhq/pull/1179. PTAL!

[2022-08-19 19:36] erikgb commented on #1157
Out of curiosity I just scanned the current dev image with trivy, and here are the results:

[code]

Pretty sure most of these vulns will be fixed by https://github.com/tchiotludo/akhq/pull/1179.

[2022-08-19 19:54] #1157 closed

[2022-08-19 19:55] tchiotludo commented on #1157
you can retry in 20 min when the build is ok, thanks for the PR

[2022-08-19 20:14] erikgb commented on #1157
Here is the updated result: 😉

[code]

[2022-08-19 20:15] tchiotludo commented on #1157
nice jog @erikgb, thanks for sharing :)
I've updated the image on all my project :smile:

[2022-08-19 20:17] erikgb commented on #1157
Maybe a release soon? Our image-scanner Kubernetes controller has been complaining about this for a long time.....

[2022-08-19 20:22] tchiotludo commented on #1157
let me do final check and go for it :)

[2022-08-22 15:10] vutkin opened #1180 "BUG: OIDC Azure provider - There are no any groups in response"
The problem:
[code]
Ref: https://docs.microsoft.com/en-gb/azure/active-directory/hybrid/how-to-connect-fed-group-claims#group-filtering

So if some user has 150+ groups in response (included subgroups) there will be no any groups, and Azure expects that application will do a second request to GraphQL request for groups only.

Example:

DEBUG in application: Body: {"providerType":"OIDC","providerNa

[2022-08-22 17:33] tchiotludo commented on #1180
it's a bug that you will need to report to micronaut project that handle all the group mapping stuff and JwT: https://github.com/micronaut-projects/micronaut-security

[2022-08-23 08:17] vutkin commented on #1180
ref - https://github.com/micronaut-projects/micronaut-security/issues/1081

[2022-08-23 15:50] arnaud-ly commented on #1141
Hello,

Sry for the late reply. Yes I will believe that you can merge https://github.com/tchiotludo/akhq/pull/1069 !
I didnt look in the problem further because I was in vacation.
I will update the issue if I find the cause :)

[2022-08-23 16:54] tchiotludo commented on #1141
thanks @arnaud-ly, done ;)

[2022-08-24 14:00] ovidiu-ionescu opened #1181 "Error at runtime: Scala module 2.12.4 requires Jackson Databind version >= 2.12.0 and < 2.13.0"
I opened the source in Interllij, started App, project appears to run but the moment I try to access port 8080 I get this error:

[code]

I checked both the dev branch and the latest label 0.21.0 with the same result.

[2022-08-24 14:00] ovidiu-ionescu opened #1182 "Error at runtime: Scala module 2.12.4 requires Jackson Databind version >= 2.12.0 and < 2.13.0"
I opened the source in Intellij, started App, project appears to run but the moment I try to access port 8080 I get this error:

[code]

I checked both the dev branch and the latest label 0.21.0 with the same result.

[2022-08-25 19:24] tchiotludo commented on #1181
duplicate #1181

[2022-08-25 19:24] #1181 closed

[2022-08-26 14:53] apellegr06 commented on #1174
Not sure, this need is just to add a filter on the kafka connect cluster level (in addition with the existing one on tasks level) :
connect-clusters-filter-regexp

And that will filter the visibility of the Kafka connect instances in the list.

We really need this kind of filter because we have several kafka connect by kafka cluster, and not all used can access to all kafka connect instances.

[2022-08-26 14:58] jheinitz opened #1183 "New Feature: Download all messages in a topic to a json or csv file"
Hello Ludovic!

Thanks again for this wonderful tool. We are currently wondering if there is a possibility to download all topic data to a single file. As far as I know it is only possible to download a single message using the download button when exploring the topic data. It would be very nice to have a feature like this. Ideally both formats are available or the format can be configured in the

[2022-08-26 15:04] tchiotludo commented on #1183
Hello @jheinitz,

Excellent idea, PR is welcome on that!

[2022-08-29 09:34] p1ppus opened #1185 "Protobuf schemas in apicurio schema registry"
When using protobuf schemas in our apicurio registry akhq is unable to deserialize the content of the message. Events without schema id can successfully be deserialized with corresponding descriptor files. Only after assigning schema ids akhq is unable to parse the data.

"Error in GUI: Error deserializing Protobuf message for id xx"
![image](https://user-images.githubusercontent.com/112345484/187

[2022-08-29 15:38] nparfait opened #1186 "OIDC Azure provider - Username null"
I am trying to do SSO with azure via OIDC. I have managed to get groups working however the username displays as null.

I've tried setting
username-field: preferred_username
to multiple options, email, upn, etc. but it doesn't seem to make a difference.

Is there anyway to get the username to display with Azure?

[2022-08-29 15:53] tchiotludo commented on #1186
I was looking for the properties ;)
Maybe you can add a PR with complete examples in the docs [here](https://github.com/tchiotludo/akhq/blob/dev/docs/docs/configuration/authentifications/oidc.md)?

[2022-08-29 15:53] #1186 closed

[2022-08-29 15:58] nparfait opened #1187 "Question: Cluster based Auth"
Is there any support for multiple clusters?
Eg. I would like to have 3 clusters setup. Dev, Test, Prod
and use different groups to allow different access to clusters.

Currently it looks like I'd have to deploy an instance of akhq per cluster to control this access?

[2022-08-29 16:00] #1187 closed

[2022-08-30 02:41] ali-1995 opened #1188 "schema versions tab crashes when schema type is PROTOBUF"
The UI will crash when the user navigates to the versions tab of a schema that has a type of PROTOBUF.

The issue is the JSON.parse function on the PROTOBUF schema.

[2022-08-30 05:30] tchiotludo commented on #942
close in https://github.com/tchiotludo/akhq/pull/1161

[2022-08-30 05:30] #942 closed

[2022-08-30 06:21] #1124 closed

[2022-08-30 06:21] #1099 closed

[2022-08-30 06:22] #1126 closed

[2022-08-30 06:26] tchiotludo commented on #1138
We don't use the micronaut access log because the user is not logged and the class that is logging is [here](https://github.com/tchiotludo/akhq/blob/dev/src/main/java/org/akhq/middlewares/HttpServerAccessLogFilter.java)
You can access the header on that one and log the true IP (maybe based on well-known headers)

PR are welcome!

[2022-08-30 06:27] #1142 closed

[2022-08-30 06:27] #1162 closed

[2022-08-30 06:45] #1182 closed, assigned to nobody

[2022-08-30 07:25] tchiotludo commented on #1151
most of them are fix in `v0.22.0`

[2022-08-30 07:25] #1151 closed

[2022-08-30 07:26] tchiotludo commented on #1157
done ;)

[2022-08-30 09:17] ovidiu-ionescu commented on #1182
[code]

[2022-08-30 11:52] AdiWehrli commented on #1157
Thanks very much.

[2022-08-30 18:35] #1188 closed

[2022-08-30 18:46] tchiotludo commented on #1182
Unable to reproduce the issue on my computer, I just release a version today without any issues.

[2022-08-30 18:58] tchiotludo commented on #1185
I don't use protobuf for myself, reading the code, only mapping with protobuf file is supported for now.

PR are welcome !

[2022-08-30 20:23] p1ppus commented on #1185
Thanks for your reply.

Just to confirm, with mapping you mean the existing use of descriptor files as we already used and like stated here: https://akhq.io/docs/configuration/protobuf.html ?

That would mean for us we can't use our SMT in MM2 (https://github.com/OneCricketeer/schema-registry-transfer-smt) to populate schema IDs (producer has only static proto schemas without registry) and the sch

[2022-08-31 08:41] JulienOrain opened #1194 "Assets from release 0.22.0 tagged as 0.21.0"
Hello,
Thanks for your project ! It's awesome !
Assets from release 0.22.0 are tagged as 0.21.0 as you can see on the release page : https://github.com/tchiotludo/akhq/releases/tag/0.22.0
Is it possible to fix links ?
Thanks !
Julien

[2022-09-01 09:52] lathspell opened #1195 "Show schema name next to version in topic browser"
The topic list (https://akhq/ui/kafka-dev/topic/foo/data?sort=Oldest&partition=All) currently only shows the schema version like "Value: 341" in the "schema" column. Would it be possible to show the schema name there?
Especially in topics where multiple domain event types are transported, it would help to distinguish them.

[2022-09-01 09:59] tchiotludo commented on #1195
nice idea, PR are welcome :)

[2022-09-01 11:16] tchiotludo commented on #1185
Yes, exactly

Seems to be done here:
https://github.com/tchiotludo/akhq/blob/7e99277c0766d808ebca1e8f21eadc41f06b7a13/src/main/java/org/akhq/models/Record.java#L170-L188
But reading it right now, it seems that is already supported ...  (like JsonSchema also).

[2022-09-02 06:02] Kenchir commented on #1182
@ovidiu-ionescu Did you solve the isssue? . I am facing the same problem.

[2022-09-02 09:54] spareslant opened #1196 "AKHQ aggregates all the access roles (i.e topic/read, topic/write etc..) and applies to all the topics defined in topic/consumer filter-regex."
If a user is a member of multiple AKHQ groups, AKHQ aggregates all the access roles (i.e topic/read, topic/write etc..) and applies to all the topics defined in topic/consumer filter-regex.

e.g. Take the following AKHQ config

[code]

From above config it appears that ldap user bUser1
* should have only read permission on aTopic and
* should have read and update permission on bTopic.

But it turn

[2022-09-02 09:56] tchiotludo commented on #1196
Hello,

Yeah it's actual design for now, we need [this one](https://github.com/tchiotludo/akhq/discussions/523) to have fined grained acls

[2022-09-02 09:58] spareslant commented on #1196
Thanks.

[2022-09-06 05:37] tooptoop4 opened #1197 "CVE-2022-25857"
Installed Resource   snakeyaml 1.30 is brought in via jackson

https://github.com/apache/spark/pull/37796 fix might be something to copy

[2022-09-06 14:33] mpumd opened #1198 "Apicurio registry : No version '2' found for artifact with ID 'com.company.movie' in group 'null'.; error code: 40402"
Hi tchiotludo,

I discover an issue when an artifact is disabled inside the apicurio registry. The rest API throw an exception like below :

[code]

I saw you use confluent's dependencies inside your project, so you request apicurio by the compatibility api *ccompat*. Doesn't it ?

Do we have any way to avoid showing the error banner, maybe get the previous valid version of the schema ?
What do yo

[2022-09-07 01:17] 10xtechie commented on #1154
@ericmagna , @tchiotludo ,
What is `call size` ?
as far as I know, there is no option for call size in `MessageFormatter` of `slf4j`.

[2022-09-07 05:31] tchiotludo commented on #1154
I don't know what is call size also 😂

[2022-09-07 09:39] erkexzcx opened #1199 "Version 0.22.0 Docker image broken, "insufficient memory for the Java Runtime Environment""
Version `0.21.0` is working fine, but it's broken on `0.22.0`.

This is what I am getting when opening `docker logs -f akhq`
[code]

Other notes that might help:
- I am using default JVM OPTS.
- Docker image: https://hub.docker.com/r/tchiotludo/akhq
- 8 Kafka clusters (6 servers per cluster), no authorization (only `bootstrap.servers` field is specified).

[2022-09-07 12:45] erkexzcx commented on #657
+1

[2022-09-07 13:51] 10xtechie commented on #1195
@lathspell ,
Did you mean `schema name `or the `subject name`, which is set for creating a schema?
@tchiotludo ,
There is no attribute or property called `name` in `org.akhq.models.Schema.java`. The most similar one to `name` property or attribute  I found is `subject`. Is my understanding correct?

[2022-09-07 14:05] tchiotludo commented on #1195
yes @10xtechie it's subject here

[2022-09-07 14:13] 10xtechie commented on #1195
@tchiotludo ,
Thanks! You can assign it to me :)

[2022-09-08 04:43] ericmagna commented on #1154
The size is the object returned by the client, excluding headers. Under apache http, the log formatting is %b.

This option allows you to analyze the behavior of calls from customers. For example, customers using the API remain exposed by AKHQ. Some customers may make very important calls.

The access_log file put in elasticsearch makes it possible to finely analyze these calls by customers via a

[2022-09-08 04:50] ericmagna commented on #1154
In the HttpServerAccessLogFilter.java file (line 59), you use the micronaut to retrieve information via request.getPath, request.getMethod, etc.

On the micronaut site (https://docs.micronaut.io/latest/api/io/micronaut/http/HttpRequest.html), I couldn't find a method to retrieve the size of a customer.

Your great experience on micronaut, you may be able to find.

[2022-09-08 07:09] tchiotludo commented on #1154
It will not be on Request but on [Response](https://docs.micronaut.io/latest/api/io/micronaut/http/HttpResponse.html), I think you could get it from `content-length` headers (if available)

[2022-09-08 12:11] jheinitz opened #1200 "LDAPS no longer working after upgrading from 0.21.0 to 0.22.0"
Hello!

I just deployed the new version `0.22.0` of AKHQ using docker. I have a docker file to build my own image based on the official one, but include our ca-root certificate in order to be able to connect to our LDAP Server using LDAPS.

The only thing that has changed is the version of the image, but with `0.22.0` I'm not able to login using an LDAP user. I reverted back to `0.21.0` and LDAPS

[2022-09-08 12:25] tchiotludo commented on #1200
Hey,

the major thing that has change is the based image for docker  https://github.com/tchiotludo/akhq/commit/22a5d79684a2518122bba4ed125d30e85877c9d3.
Maybe there is a relation between them?

What is your error on 0.22.0?

[2022-09-08 13:21] jheinitz commented on #1200
Hi,

There is an issue while trying to connect to the LDAP Server (`Failed to create manager context. Returning unknown authentication failure. Encountered adc01.example.com:636`) in this context:

[code]

Please see my Dockerfile to create my custom image to include our CA Certs file:
[code]

The same error occurs when I try to use the `dev` image, but that makes sense because `dev` and `0.22.0`

[2022-09-08 15:28] jheinitz commented on #1200
Hey!

I finally got it to work. The problem was with my jvm.options file. I need to specify those, but I must not specify the quotes (").

This works:
[code]

Maybe someone hits the same thing and will find this information useful.

Keep up with your great project.

Thanks and best regards

Jens

[2022-09-08 15:28] #1200 closed

[2022-09-08 19:56] marcelosauter opened #1201 "kubernetes akhq - Couldn't find any clusters"
Good afternoon I'm configuring akhq using helm on a k8s cluster helm upgrade --install akhq akhq/akkh --values=values.yml

I am getting the issue .
 {"message":"Couldn't find any clusters on your configuration file, please ensure that the configuration file is loaded correctly",

How need be the values?
I am using like some this.

I have kafka in the same namespace.

secrets: |
  kafkahq:
    conn

[2022-09-09 11:07] Careca-ba commented on #594
Hi, I have exaclty same problem

`  akhq:
    # build:
    #   context: .
    image: tchiotludo/akhq
    hostname: akhq
    container_name: akhq
    environment:
      AKHQ_CONFIGURATION: |
        akhq:
          connections:
            docker-kafka-server:
              properties:
                bootstrap.servers: "kafka1:19092"
              schema-registry:
                url: "http://kafk

[2022-09-09 11:09] tchiotludo commented on #594
It's not your resolution that is lower and prevent you to see the link below ?

[2022-09-09 11:14] Careca-ba commented on #594
Unbeliveble but true!

Thaks a lot!

[2022-09-09 11:34] jheinitz commented on #1199
Hello!

We are facing the same issue here. We have three clusters and two of them work fine after upgrading to 0.22.0, but the third one is throwing exactly the same error message. The only difference I can see is that the one where it is not working is a RedHat 8.5 VM while the other two are on RedHat 8.6.

The strange thing is that the VM where it is not working has 32GB RAM while the other two

[2022-09-09 11:35] tchiotludo commented on #1199
The container start and the ui is reachable or don't start at all ?

[2022-09-09 12:07] jheinitz commented on #1199
To me it looks like it doesn't even start the JVM. This is the difference between a working instance and a failing instance:

Failing:
[code]

Working:
[code]

[2022-09-09 12:20] jheinitz commented on #1199
I cannot even run `java -version`:
[code]

[2022-09-09 12:27] tchiotludo commented on #1199
what is the os that is running docker?

[2022-09-09 13:42] jheinitz commented on #1199
I just found [this](https://pullanswer.com/questions/ubuntu-update-java-error-cannot-create-worker-gc-thread-out-of-system-resources). Are you using `jammy` or `focal`?

[2022-09-10 16:38] alexvaque commented on #353
Hi, Marc , I had the same issue than you and thanks to that issue https://github.com/tchiotludo/akhq/discussions/889  and the last solution shared by Javier... finally my LDAP integration works.
 thanks

[2022-09-11 18:44] tchiotludo commented on #1199
If I understand [here](https://github.com/docker-library/docs/tree/master/eclipse-temurin), it's `jammy`

Just confirmed inside the container
[code]

[2022-09-12 12:22] jheinitz commented on #1199
Hello @erkexzcx !

Were you able to make any progress on this issue?

Thanks and kind regards

Jens

[2022-09-12 12:24] erkexzcx commented on #1199
Yes.,? I downgraded docker image from `0.22.0` to `0.21.0` and everything runs great again.

[2022-09-12 12:27] jheinitz commented on #1199
This works for me as well, but I'd like to have the features of 0.22.0. That's why I would like to get this issue solved.
Thanks for answering so fast.

Best regards
Jens

[2022-09-12 12:36] tchiotludo commented on #1199
You could easily built it locally and see if the issue is resolved or not ?

It's clearly not the goal to use old version instead of new one, I would prefer understand the issue and fix it but I'm not able to reproduce it at all.

[2022-09-13 10:05] MichalPopielski opened #1206 "java.lang.OutOfMemoryError while tailing topic with high throughput"
Whenever user starts looking at the topic, the records are being tailed.
Recently one of the users started to check data from topic which has really high throughput.
My assumption is that AKHQ reaches the memory limit and afterwards users are not able to use AKHQ as it throws OutOfMemoryError:

I tried to increase memory and heap size, but it didn't help (up to 14GB).
Any ideas how can I limit the

[2022-09-14 09:10] mpusg commented on #1198
Hi,

I investigate a little more and I discover an issue about the latest version of disabled schema. You can't get it with `/subjects/{subject}/versions/latest`.
I created this issue https://github.com/Apicurio/apicurio-registry/issues/2790.

I think you should avoid blocked the screen when the schema isn't available.
you could sequentially call this following rest api I guess :
GET ccompat/v6/su

[2022-09-14 16:36] Maxsky5 commented on #1199
Same issue on Ubuntu 20 :
[code]

[2022-09-15 08:55] jheinitz commented on #1199
Hi,

it seems to be a problem with the docker version. I can confirm for RedHat that it works on RedHat 8.6 with a newer docker version than on RedHat 8.5. Please see [this ](https://github.com/adoptium/containers/issues/215#issuecomment-1142046045) comment for details.

Cheers

Jens

[2022-09-16 15:38] fabiofilz opened #1210 "Internal Server Error: Cannot read the array length because "value" is null"
Hello,

After producing a tombstone using KafkaNull.INSTANCE AKHQ throws a msg error "Internal Server Error: Cannot read the array length because "value" is null" when I open the main page. If I enter in the topic details to see the content of a message it throws the error "Internal Server Error: Error for Consume with options {}"

I am concerned that if we deploy an application that used KafkaNul

[2022-09-19 14:11] scila1996 opened #1211 "Features: Scale-out instance more than one replicas"
Hi @tchiotludo

Many thanks to AKHQ, it is the great application which support multiple cluster and authenticate over OIDC (OAuth2). I deploy on K8S with your official helm  (+10 star). But I want to scale up more than one instance (Pod) for HA, does micronauth support Redis Backend for user logged-in session data ? Thanks for reply !

[2022-09-19 14:13] tchiotludo commented on #1211
Hey @scila1996, you can scale without any issue.
The storage for the auth is cookie based, there is no memory implication for the auth part and user management.

[2022-09-19 14:25] #1211 closed

[2022-09-19 15:58] FrankMormino opened #1212 "injecting css docker compose question to change background color"
I am trying to change the background color to be red - from the example here [Inject some css or javascript](https://akhq.io/docs/configuration/akhq.html#inject-some-css-or-javascript) it gave me the main structure I need in order to get this added to the docker-compose yml file which once i run it - should reflect.

I tried to implement the change below and wasn't able to see it reflect :

_note:

[2022-09-19 17:19] FrankMormino commented on #1212
![image](https://user-images.githubusercontent.com/45765756/191064177-8fa7ecc7-99de-4d26-b8c9-63a1056858b5.png)
updating issue to closed since i had to add it inside the AKHQ_CONFIGURATION config.
[code]

[2022-09-19 17:19] #1212 closed

[2022-09-19 19:47] tchiotludo commented on #1210
Yes akhq support tombstone and null values.
What `KafkaNull.INSTANCE` does, I really don't know since I never want to use spring.
To best if to show to difference with [kcat](https://github.com/edenhill/kcat) WITH `-j` to output as json between
- the Kafka Stream that work
- the producer with `KafkaNull.INSTANCE`

or add a debug breakpoint on consumer you try to understand the type of the payload

[2022-09-20 07:49] scila1996 opened #1213 "Bug: Can not search value in topic with sort (newest)"
Hi @tchiotludo

I want to search data in topic. When I chose Sort (Newest), and select Search (fill any value in text box of key or value) and click Search icon, the Sort always back to (Oldest).

![Sep-20-2022 14-47-21](https://user-images.githubusercontent.com/17109300/191198914-60715e42-c3e5-4e0f-b104-7e0fc4128cd5.gif)

[2022-09-20 08:21] HailToDodongo commented on #1213
This feature was removed in  #473, i currently have an open PR for this + a general speedup for the search in #1209

[2022-09-21 12:15] tchiotludo commented on #1210
I think I got it, can you provide the full stack trace please for the webserver log ?
I think you have headers with no value, that is not expected

[2022-09-21 13:08] fabiofilz commented on #1210
Hi @tchiotludo,

This the error in the console

2022-09-21 14:06:56,593 INFO  r-thread-3 org.akhq.log.access        [Date: 2022-09-21T14:06:56.102735+01:00] [Duration: 490 ms] [Url: GET /api/dev1-cluster/topic] [Status: 200] [Ip: /0:0:0:0:0:0:0:1] [User: Anonymous]
2022-09-21 14:06:56,795 ERROR r-thread-4 o.a.c.ErrorController      Cannot read the array length because "value" is null
java.lang.Nul

[2022-09-21 14:00] javier-torres opened #1214 "Restart Container: java.lang.OutOfMemoryError: Direct buffer memory"
Hi,
We have these ERRORs during AKHQ is executing:

`Unexpected error occurred: Direct buffer memory
java.lang.OutOfMemoryError: Direct buffer memory
at java.base/java.nio.Bits.reserveMemory(Unknown Source)
at java.base/java.nio.DirectByteBuffer.<init>(Unknown Source)
at java.base/java.nio.ByteBuffer.allocateDirect(Unknown Source)
at io.netty.buffer.PoolArena$DirectArena.allocateDirect(PoolArena.j

[2022-09-21 19:31] tchiotludo commented on #1214
Is this the same than this one ? https://github.com/tchiotludo/akhq/issues/1206

[2022-09-22 09:40] hari819 opened #1215 "fix vulnerability in akhq"
Hello @tchiotludo  ,

the vulnerability scan ran on latest akhq image has these issues ,  we could not upgrade the libraries since they are not bundled as jar files ,  all the class files from the dependencies are added into the akhq.jar instead.

Please do you have any plans to upgrade the dependencies , i think akhq is internally using micronaut framework which has these libraries bundled,

<htm

[2022-09-22 12:05] tchiotludo commented on #1197
close in favor of these : https://github.com/tchiotludo/akhq/issues/1215

[2022-09-22 12:05] #1197 closed

[2022-09-22 12:06] tchiotludo commented on #1215
Yes we need to upgrade micronaut to handle that, I have a quick look last month, it's need a little refactoring due to breaking compatibility, PR are welcome !

[2022-09-22 14:10] Allan-Bray opened #1216 "fetching messages from topic on m1 mac"
I downloaded the akhq-0.22-all.jar

I used the following to launch it.

~/Library/Java/JavaVirtualMachines/openjdk-17.0.2/Contents/Home/bin/java -Dmicronaut.config.files=application.yml -jar akhq-0.22.0-all.jar  -Djava.io.tmpdir=.

I'm getting the following error

2022-09-22 08:07:01,602 ERROR r-thread-3 o.a.c.ErrorController      [FAILED_TO_LOAD_NATIVE_LIBRARY] no native library is found for os.n

[2022-09-23 10:01] hari819 commented on #1197
As per this , we need to upgrade snakeyaml to version 1.32,
<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 15">
<meta name=Originator content="Micro

[2022-09-23 13:51] wilkejo commented on #1146
I recently update to 0.22 and still have the issue. If anyone could help me to narrow done the issue or find the invalid data.

I can reproduce the error if I try to look at topics and messages which use the json schema.

[2022-09-26 12:58] wilkejo commented on #1146
Hello @tchiotludo I did some further research and I'm quite sure, that my issue #1147 is related to #1035.

I deployed AKHQ 0.22 and I can't read messages with tombstone records. Based on the description in #1035 I read the topic and looked for tombstones and found them. Also I got the confirmation from the producer, that tombstone records are written.

The first records of the topic look like thi

[2022-09-27 22:05] tooptoop4 commented on #1215
@hari819 don't forget handlebars.js https://github.com/tchiotludo/akhq/issues/1151

[2022-09-30 16:14] MichalPopielski commented on #1206
We are testing `JAVA_TOOL_OPTIONS` set to `-XX:+UseG1GC -XX:+AlwaysActAsServerClassMachine` for AHKQ hosted on our AKS environment.
So far it's working good for few days straight.

We have used this trick for other pods using java apps as well which faced similar OOM issues.
Seems that it might help in this case as well.

Root cause:
If there're less than 2 CPUs (in our case limit is less than 1 C

[2022-09-30 16:17] tchiotludo commented on #1206
@MichalPopielski : thanks for the information, it can be a good clue!

[2022-10-01 05:03] rdanielwetan commented on #1052
I would like to take this issue please

[2022-10-01 07:00] tchiotludo commented on #1052
@rdanielwetan you are assigned, thanks!

[2022-10-03 10:14] tchiotludo opened #1219 "Disabling Topic Configurations"
### Discussed in https://github.com/tchiotludo/akhq/discussions/1218

<div type='discussions-op-text'>

<sup>Originally posted by **guzelcihad** October  3, 2022</sup>
Hi,

As you can see in the below picture, a user which has reader role can edit this configuration. The applications doesn't restrict to edit this html inputs. I've opened the browser developer tools and saw that when a user changes

[2022-10-03 15:13] Tejeshwarraju opened #1220 "enable okta authentication for AKHQ"
Hi Team,

we are trying to enable okta authentication for AKHQ, we enabled below configuration as mention in the documentation https://akhq.io/docs/configuration/authentifications/oidc.html.

we get a login link on the app but when we try to login to the application we get a 400 response.
micronaut:
      security:
        enabled: true
        oauth2:
          enabled: true
          clients:

[2022-10-04 08:11] moremagic commented on #1182
I had the same problem in my environment, so I created a PullRequest

[2022-10-04 13:35] edperry opened #1224 "Feature request: JSON Pretty Printing messages"
This is a feature request to make usability better

![Screenshot 2022-10-04 093403](https://user-images.githubusercontent.com/6684633/193834281-e455984c-b8d4-48de-bf91-fc573949930b.png)

When viewing large JSON messages, it would be nice if the display word wrapped, or even "Pretty print" formatting,

[2022-10-04 18:47] obarat commented on #743
@raffaelespazzoli Can you post the resolution of this?

[2022-10-05 12:57] guillaumedif opened #1225 "JWT token reader issue"
Hello,

We have issue with only some LDAP users to connect AKHQ instance due to JWT token check.

Version is 0.20.0

See extract of login errors :
2022-10-05 10:05:48,150 ←[39mTRACE←[0;39m ←[35mpGroup-1-3←[0;39m ←[36m.ApplicationEventPublisher←[0;39m Invoking event listener [io.micronaut.runtime.http.scope.RequestCustomScope@1bfdf143] for event: io.micronaut.http.context.event.HttpRequestTerminate

[2022-10-06 03:43] moremagic opened #1226 "NPE occurs when trying to view cluster information in MSK Serverless"
NullPointerException occurs when trying to display cluster information in MSK Serverless.

[code]

![image](https://user-images.githubusercontent.com/79543/194209371-f8ed5ab4-84b6-4274-b26b-96637af2ea23.png)

[2022-10-06 14:16] anchou-bockhorn opened #1228 "Produce with Confluent Schema Registry fails because of asvc referencing other asvc"
### Current behaviour:

When producing a copied message in akhq web ui, I get an error:
class java.lang.String cannot be cast to class [B (java.lang.String and [B are in module java.base of loader 'bootstrap')

This happens only, if I copy and produce an object, that references a fixed type defined in a different schema.

Example:
[code]
[code]
The personId displayed in akhq are just the last 16 c

[2022-10-09 04:26] TomHuesler opened #1229 "Configuring Azure hosted kafka-connect behind API Management not possible"
Dear all
We're running several kafka-connect's in different 'data-centers' (local, onPrem, Azure). Configuring the Azure kafka-connect in AkHQ seems impossible....

To secure the Azure deployment, we use the Azure API mangement with a subscription key, what leads to an URL like:
https://my-resource-group-apim.azure-api.net/?subscription-key=23432432423499898798987

In such a case AkHQ fails to sho

[2022-10-10 16:31] alozano3 commented on #1182
I am facing the same issue. In my case, I am using the agr generated with ./gradlew assembleShadowDist

[2022-10-10 16:32] tchiotludo commented on #1182
@alozano3 have you tried with this PR #1223?

[2022-10-11 08:00] alozano3 commented on #1182
I have tried the PR and it works, no sign of the error.

[2022-10-11 22:32] tooptoop4 opened #1230 "CVEs on jackson-databind"
https://github.com/advisories/GHSA-jjjh-jjxp-wpff
https://github.com/advisories/GHSA-rgv9-q543-rqg4

[2022-10-12 05:18] tchiotludo commented on #1230
Duplicate of #1215

[2022-10-12 05:18] #1230 closed

[2022-10-12 07:05] tchiotludo commented on #907
thanks @loicgreffier for digging.
All must be happening here, it the only set on this localstorage :
https://github.com/tchiotludo/akhq/blob/b360724baa222d0f2c93ff2e375f012fdd61fdc2/client/src/components/Root/Root.jsx#L13

it may be related to `micronaut.server.context-path`? (I see that you used it)

May be you try to go deeper @loicgreffier ?

[2022-10-15 22:03] meeraj257 commented on #1215
@tchiotludo - if nobody is working on this, I will look into this and raise a PR.

[2022-10-15 22:19] tchiotludo commented on #1215
@meeraj257 it's assigned to you 👍

[2022-10-17 07:27] mpusg commented on #1198
any news ?

[2022-10-17 10:48] fabiofilz commented on #1210
Hi @tchiotludo.

I hope you are well.

Did you manage to replicate the error? Do you need any further info to identify the error?

Thank you.
Fabio

[2022-10-17 12:13] GnanaJeyam commented on #1052
@rdanielwetan Are you still working on this issue..?

@tchiotludo  I have raised a PR for this issue.
Please take a look https://github.com/tchiotludo/akhq/pull/1233

[2022-10-17 14:17] fabiofilz commented on #1210
Hi @tchiotludo,

I was testing it again and if I do not set any value in the Header it works fine.

return MessageBuilder
    .withPayload(KafkaNull.INSTANCE)
    .setHeader(KafkaHeaders.MESSAGE_KEY, key.getBytes(StandardCharsets.UTF_8)).  // this line
    .setHeader(KafkaHeaders.TIMESTAMP, originalEvent.getHeaders().get(KafkaHeaders.RECEIVED_TIMESTAMP)) // this line
    .build();

Thank you.
Fabi

[2022-10-17 22:36] tooptoop4 commented on #1215
CVE-2022-3171 affects protobuf-java 3.19.2
https://github.com/advisories/GHSA-9w3m-gqgf-c4p9 affects snakeyaml 1.31
https://github.com/advisories/GHSA-jjjh-jjxp-wpff and https://github.com/advisories/GHSA-rgv9-q543-rqg4 affects jackson-databind
https://github.com/advisories/GHSA-f2jv-r9rf-7988 and https://github.com/advisories/GHSA-765h-qjxv-5f44 affects handlebars.js

[2022-10-18 06:28] GnanaJeyam commented on #1052
This is my first PR to OSS. Feel free provide any feedbacks to me. :)

[2022-10-18 07:55] GnanaJeyam commented on #1219
@tchiotludo I think we can disable the input text field whenever we have reader role.
Can you assign this issue to me. I can check.
Between, How can I login to reader role. I can't find the login button in the UI.
<img width="1783" alt="Screenshot 2022-10-18 at 1 22 05 PM" src="https://user-images.githubusercontent.com/28224298/196370406-e0ebc073-5579-4c7b-9948-41f52d510cad.png">

[2022-10-18 07:57] tchiotludo commented on #1219
The simplest way is to set [reader](https://akhq.io/docs/configuration/authentifications/groups.html) as `akhq.security.default-group`

[2022-10-18 09:04] #1210 closed

[2022-10-18 09:05] tchiotludo commented on #1210
@fabiofilz : I've added a protection, try with `dev` in 20 minutes

[2022-10-19 16:01] Duella12345 opened #1236 "Issue with SSL_SASL and kerberos authentication SSL handshake failure"
Hello ,

I am trying to connect to akhq with a kerberos backed Kafka cluster,  we were previously connected just with SSL. Below are setup details

- Kafka version : kafka_2.12-2.3.0
- Auth scheme: SASL_SSL
- Mechanism: Kerberos
- KafkaHQ: 0.16.0

Application.yml Configuration:
[code]
When We start akhq we are getting below error :

[code]

[2022-10-19 16:09] bhavrana commented on #990
Hey @tchiotludo
Does this issue still need to be worked on? If yes, I would like to contribute.

[2022-10-19 16:39] fabiofilz commented on #1210
Working now. Many thanks :-)

[2022-10-19 16:43] tchiotludo commented on #990
You are assigned 😎

[2022-10-19 19:23] tchiotludo commented on #1236
We don't support such old version of akhq, please update to latest version and reopen if you have the issues

[2022-10-19 19:23] #1236 closed

[2022-10-20 07:15] GnanaJeyam commented on #1219
@tchiotludo
Raised PR for this bug.
https://github.com/tchiotludo/akhq/pull/1237

[2022-10-21 11:41] Regmir opened #1239 "Vulnerabilities"
Hello all,

I found some vulnerabilities in AKHQ Docker image for version 0.22.0 These are the following

Severity | VulnerabilityID | Package Name | Package Version | Fixed Versions
-- | -- | -- | -- | --
Critical|	CVE-2022-42889|	org.apache.commons:commons-text|	1.6|	["1.10.0"]|
High|	CVE-2022-25857|	org.yaml:snakeyaml|	1.30|	["1.31"]|
High|	CVE-2022-42004|	com.fasterxml.jackson.core:jackson-dat

[2022-10-21 11:45] tchiotludo commented on #1239
duplicate this one : https://github.com/tchiotludo/akhq/issues/1215

[2022-10-21 11:45] #1239 closed

[2022-10-25 06:00] GnanaJeyam commented on #1219
@tchiotludo Sorry to Bumping this up. Any update or feedback for this PR.. ?

[2022-10-29 06:58] tristanessquare commented on #1166
If you want to enable users to copy for example the name of the topic then you could place a little copy button/icon besides the name. In other UIs that is a quite common solution.

[2022-11-01 00:52] amoravek opened #1244 "All release files in the 0.22.0 release contains 0.21.0 directory and jar files"
All archives in the 0.22.0 release contains 0.21.0 directory. Also akhq jar file name contains the older version. File sizes are however different than the 0.21.0 so it seems to be some naming issue...

[2022-11-01 16:03] tristanessquare commented on #1006
Root cause for the described issue seems to be that the value is parsed and then stringified. See here:

https://github.com/tchiotludo/akhq/blob/e57cc02c790ae833f1e2fd4f77b5cbe8def03c96/client/src/containers/Topic/Topic/TopicData/TopicData.jsx#L929-L934

[2022-11-01 16:16] eimarfandino opened #1245 "Tracking OpenSSL 3.0.2 Issue in AKHQ"
A new OpenSSL vulnerability affecting versions prior to 3.0.7 is present in the latest [AKHQ container image](https://github.com/tchiotludo/akhq/releases/tag/0.22.0).

Read more info about upcoming OpenSSL here: https://mta.openssl.org/pipermail/openssl-announce/2022-October/000238.html

Motivation
This issue is here to track the progress of the AKHQ community evaluating the issue when it released

[2022-11-02 08:00] eimarfandino commented on #1245
I have downgraded to version 0.21.0 where openssl 1.1.1 is used

[2022-11-03 18:48] tchiotludo commented on #528
@dblooman don't want to work on this anymore?

[2022-11-04 01:10] dblooman commented on #528
Moved onto other projects, so no unfortunately

[2022-11-04 04:21] jeevangt opened #1248 "Upstream Server : context cancelled"
Hello All when I am trying to hit AKHQ URL and searching for topic I am getting error
Error proxying to upstream server :  context cancelled.

After this I am getting 504 error on AKHQ UI.

Need help. Not able to know how to fix it.

[2022-11-04 06:13] tchiotludo commented on #528
No problems, which one for my curiosity?

[2022-11-06 19:19] #1006 closed

[2022-11-06 19:28] #1215 closed

[2022-11-06 19:31] #1219 closed

[2022-11-06 19:37] tchiotludo commented on #1224
I think it's done here : https://github.com/tchiotludo/akhq/pull/1246 and merge on latest dev.
Reopen if not

[2022-11-06 19:37] #1224 closed

[2022-11-06 19:38] tchiotludo commented on #1244
Hey @amoravek, it's an issue during the release process, I forgot to change the version on gradle before releasing it, it will be fixed on next release

[2022-11-06 19:38] #1244 closed

[2022-11-06 19:39] tchiotludo commented on #1199
The issue is on docker side and I can't do anything.
Please upgrade docker version

[2022-11-06 19:39] #1199 closed

[2022-11-06 20:16] #1226 closed

[2022-11-06 21:30] tchiotludo commented on #1245
It's fixed on the dev version:
[code]
see this : https://askubuntu.com/a/1438590

[2022-11-06 21:30] #1245 closed

[2022-11-06 21:35] tchiotludo commented on #1213
close in #1209

[2022-11-06 21:35] #1213 closed

[2022-11-06 21:36] tchiotludo commented on #1146
It's fixed here I think https://github.com/tchiotludo/akhq/issues/1210

[2022-11-06 21:36] #1146 closed

[2022-11-06 22:11] tchiotludo commented on #1216
Can you try with latest dev version please ?
I've updated a lot of deps and it's seems it corrected here : https://github.com/xerial/snappy-java/releases/tag/1.1.8.2
reopen if not fixed

[2022-11-06 22:11] #1216 closed

[2022-11-06 22:12] tchiotludo commented on #1225
Can you update to latest version (even more the `dev` with updated on that part) and reopen if it's not fixed ?

[2022-11-06 22:12] #1225 closed

[2022-11-06 22:16] tchiotludo commented on #1229
I think the issue must be reported to upstream [here](https://github.com/SourceLabOrg/kafka-connect-client), since we don't have the power to handle it in AKHQ

[2022-11-06 22:28] tchiotludo commented on #1052
done in https://github.com/tchiotludo/akhq/pull/1233

[2022-11-06 22:28] #1052 closed

[2022-11-07 07:01] hari819 commented on #1215
@tchiotludo  , do we have a new version with all the required vulnerabilities fixed ?

[2022-11-07 07:02] tchiotludo commented on #1215
Soon, I want some people testing the `dev` to be sure there is no regression

[2022-11-07 18:37] danilo-falcao-sinch opened #1256 "2022 OpenSSL vulnerability - CVE-2022-3602/CVE-2022-3786"
Regarding CVE-2022-3602 and CVE-2022-3786, two vulnerabilities in OpenSSL 3.0.0-3.0.6. Is there a new container to be built with fixes for these issues?

[2022-11-07 19:05] tchiotludo commented on #1256
duplicate this one: https://github.com/tchiotludo/akhq/issues/1245

[2022-11-08 23:58] raph-af opened #1257 "Record header keys are unique"
Kafka headers should support duplicate keys and keep ordering (https://cwiki.apache.org/confluence/display/KAFKA/KIP-82+-+Add+Record+Headers#KIP82AddRecordHeaders-Keyduplicationandordering)

This is not supported in akhq due to the headers type being a Map (cf. [Record.java](https://github.com/tchiotludo/akhq/blob/7e99277c0766d808ebca1e8f21eadc41f06b7a13/src/main/java/org/akhq/models/Record.java#L

[2022-11-09 06:42] #1257 closed

[2022-11-11 05:35] LittleWat opened #1260 "Support for `acls-filter-regexp`"
Currently, `topics-filter-regex`, `connects-filter-regexp`, `consumer-groups-filter-regexp` are supported.
https://akhq.io/docs/configuration/authentifications/groups.html

We would like to hide some information in ACLs and it would be ideal if `acls-filter-regexp` is also supported.

[2022-11-11 14:26] konstan opened #1262 "0.23.0 fails to start on a docker swarm cluster when deployed as part of a stack due to /health resource not found"
When deploying akhq:0.23.0 as part of a stack on a docker swarm cluster, the container fails to start w/o any error messages in the app logs. It turns out that the reason is a failing health check that is part of the image build definition https://github.com/tchiotludo/akhq/blob/dev/Dockerfile#L12. For the error see [1].

Indeed, when checking on a running container the `/health` resource is not p

[2022-11-13 17:36] meeraj257 commented on #1260
@tchiotludo - can you pls assign this to me? I will work on this.

[2022-11-13 17:37] tchiotludo commented on #1260
Done 👍 thanks @meeraj257

[2022-11-14 08:18] tchiotludo commented on #1262
Thanks for the report
you can try with latest `dev` image.

[2022-11-14 08:18] #1262 closed

[2022-11-14 09:38] wilkejo commented on #1146
yes, 0.23 works really well

[2022-11-16 13:58] xontab opened #1265 "Optional fields are marked as missing when Producing messages"
When producing new messages in AKHQ v0.23.0, fields that are not specified in the payload are marked as missing even if they are nullable or have default values.

This feature looks related to a recent PR https://github.com/tchiotludo/akhq/pull/1233 which was released in v0.23.0.

I think that the `schemaFields` need to be filtered to exclude any fields with `default` and when the type can be `nul

[2022-11-16 21:46] tchiotludo commented on #1265
@GnanaJeyam maybe you can take this one ?

[2022-11-17 03:24] GnanaJeyam commented on #1265
@tchiotludo Sure I can pickup this issue.

[2022-11-17 07:12] tchiotludo commented on #1265
thanks @GnanaJeyam

[2022-11-17 11:59] GnanaJeyam commented on #1265
@tchiotludo I have a question about the schema.
Let's say the incoming schema has nested structure, do we need to recursively retrieve all the fields and do the comparison.. ? Can you share your thoughts.. ?

[2022-11-17 12:17] tchiotludo commented on #1265
In the better world, we need it!
I didn't think with the PR you done that can be a stopper for some people, so maybe the best is to validate the whole thing globally. Maybe the best option will be to try to convert and throw the native exception ?

[2022-11-17 12:41] fveerden opened #1267 "Messages with fields that have null values show unreadable in topic browser"
When posting messages with a null valued field to a topic, it shows unreadable in the topic browser.
Example fragment with productUnitSize not having a null value:
`         "productQuantity": 1,
          "productUnitSize": "180 g",
          "productSubCategory": "Vegetarische stukjes"
`
This shows in the AKHQ browser as:
`
        "productNutriScore": "",
        "productUnitSize": "180 g",

[2022-11-17 13:19] GnanaJeyam commented on #1265
@tchiotludo
Which means validating all the fields recursively and throw exception.. ?

[2022-11-17 13:59] ChrisIgel opened #1268 "Copying messages with headers does not work correctly in UI"
When copying a message in the UI the headers aren't being deserialized correctly, resulting in `[object Object]`). I think this is a follow up to #1257.

[2022-11-17 15:34] tchiotludo commented on #1265
yes ...

[2022-11-17 21:36] MrKribel opened #1270 "No data is displayed in the topics"
Hello. I am experimenting with access rights separation. I want to make only the administrator have access to the data (can view and modify).

[code]
There are no errors, everything starts well. I do get data to the whole system, except for the topic information .

i see topic -> test_pos   39.562 KB but when I click on it, I get a response "No data available".

[2022-11-17 21:56] tchiotludo commented on #1270
Maybe the cluster is little bit slow, try increase this configuration: `akhq.topic-data.poll-timeout`, see [here](https://akhq.io/docs/configuration/akhq.html#topic-data)

[2022-11-18 05:05] MrKribel commented on #1270
Thank you. You're often right. Problem solved. I love this program ❤️

[2022-11-18 05:05] #1270 closed

[2022-11-18 07:22] GnanaJeyam commented on #1265
@tchiotludo
Cool, I will proceed on this.

Between, The PR which I raised before to akhq is my first Open Source Contribution :)

[2022-11-18 07:31] tchiotludo commented on #1265
We all have a first time 😇

[2022-11-18 07:49] ebrard opened #1272 "Creation of compacted topic on confluent clusters failed"
We run a cluster in confluent cloud. When we tried to create a topic with compaction with akhq it fails saying that confluent doesn't allow a change of strategy from delete to compact. I believe this is because akhq first create the topics with the delete strategy and then update the configuration to apply the compact strategy.

This is a significant blocker when working with confluent cloud clust

[2022-11-18 07:56] tchiotludo commented on #1272
Hey @ebrard,
I think it was an old limitation of the kafka api, looking at the code, it's complex for no reasons since now you can pass the options directly. PR are welcome!

[2022-11-18 09:23] ebrard commented on #1272
Here is the [PR](https://github.com/tchiotludo/akhq/pull/1273). I renamed the existing test and added another one. Those two tests passed.

[2022-11-18 09:39] #1272 closed

[2022-11-18 09:39] tchiotludo commented on #1272
Thanks a lot :)

[2022-11-20 20:03] fabiank0 commented on #608
Thanks, 1.5 yrs later and I ran into the same issue, after zookeeper suddenly stopped working for me. This fixed it for me.

[2022-11-21 19:55] KabRevel opened #1276 "BUG: OIDC Azure provider - when le groups returned in the claim is not a list"
When the  token returned by  oidc provider is like :

{
  ......
  "custom:groupList": [
    <my_custom_group>
  ],
  "custom:group": <my_custom_group>
  "exp":
  ...
}

The mapping of oidc groups and akhq groups is not working  if the groups-fields is not a List.

 For the example given above :

This configuration will WORK

    oidc:
      enabled: true
      providers:
        cognito:

[2022-11-21 21:43] tchiotludo commented on #1276
is this is not the same than this PR: https://github.com/tchiotludo/akhq/pull/1263 ?

[2022-11-22 06:57] KabRevel commented on #1276
Hi @tchiotludo  , yes  its the same case.  It is possible to release this fix ?

[2022-11-23 18:55] EthanDavis opened #1278 "Connect to AWS MSK Cluster using IAM Role"
Hello
I am running a dockerized instance of AKHQ (tchiotludo/akhq:0.14.1) on AWS ECS fargate. I have successfully gotten it up and the health check showing all is well. Once I try to navigate to the home screen I receive the below error.

my config for akhq:

[code]

No matter what I do I always get this error or slight variation.

I've referenced AKHQ and AWS  docs for IAM auth with MSK.

- https

[2022-11-23 21:38] tchiotludo commented on #1278
We don't handle such old version, please update to last version and reopen if it's not works.
But I'm pretty sure this version don't have the class for aws msk

[2022-11-23 21:38] #1278 closed

[2022-11-24 10:01] loicmathieu commented on #1206
We too have frequently this issue, G1HC seems to be a better option for akhq and Java 17 greatly improve it, with a 20% reduction in memory footprint. @tchiotludo would you merge a PR that upggrade to Java 17 ? I can work on it.

Also, the issue is on direct memory (out of heap space) so it's strange that using G1GC solves the issue. More memory should be allocated but not more heap to let space f

[2022-11-24 10:03] loicmathieu commented on #1206
By the way, @MichalPopielski `-XX:+AlwaysActAsServerClassMachine` should not be needed if the heap size is more than 1GB as the JVM will switch to server class machine automatically in this case.

[2022-11-24 11:57] tchiotludo commented on #1206
@loicmathieu java 17 could make sense I think, go for it.
For the jdk one, it will make the image really heavy, why not published on alternative image with jdk that we will ask people to use on debugging purpose ?

[2022-11-28 22:29] meeraj257 commented on #1260
@tchiotludo - PR https://github.com/tchiotludo/akhq/pull/1281 created for his issue. Pls review

[2022-11-29 07:49] AdiWehrli opened #1282 "After successful login over OIDC AKHQ always redirects to login page after click on login button"
If I logged in successfully over OIDC the page with the button (login with OIDC) appears. If I click on this button I am redirected to the same page with this button again. If I click again the same happens.

I'll have to remove the `/login` part in the URL then the start page (topics list) appears.

OS: Windows 10
Browsers: Chrome, Edge
AKHQ version: 0.23.0

BTW: there are no errors reported in b

[2022-11-29 09:16] MichalPopielski commented on #1206
Dear All,
New OOO error, occurred once again. To solve it we had to restart the whole pod, otherwise users were receiving grey background only.
All Java Options were set as in my previous post.

<details>
<summary>stacktrace</summary>

</details>

Health metric monitoring such case could help to automate the restart of AKHQ which ran out of memory